In [2]:
import pandas as pd
ratings = pd.read_csv(r"A:\Hari\ml-latest-small\ml-latest-small\ratings.csv")
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [5]:
ratings.groupby(['movieId'])['rating'].mean()

movieId
1         3.872470
2         3.401869
3         3.161017
4         2.384615
5         3.267857
6         3.884615
7         3.283019
8         3.800000
9         3.150000
10        3.450820
11        3.689024
12        2.861111
13        3.937500
14        3.451613
15        2.318182
16        3.948864
17        3.924419
18        3.288462
19        2.597826
20        2.538462
21        3.536842
22        3.355263
23        3.090909
24        3.044118
25        3.742574
26        4.100000
27        3.142857
28        4.083333
29        4.025000
30        4.050000
            ...
158238    3.750000
158314    4.500000
158528    3.500000
158956    4.000000
159093    2.000000
159462    3.000000
159690    2.000000
159755    1.000000
159858    3.750000
159972    0.500000
160080    1.000000
160271    2.500000
160438    4.250000
160440    1.500000
160563    2.500000
160565    2.000000
160567    4.000000
160590    5.000000
160656    3.500000
160718    4.000000
161084    2.500000
161155    0.500000
161594    3.000000
161830    1.000000
161918    1.500000
161944    5.000000
162376    4.500000
162542    5.000000
162672    3.000000
163949    5.000000
Name: rating, Length: 9066, dtype: float64

In [26]:
ratings.groupby(['movieId']).rating.mean()

movieId
1         3.872470
2         3.401869
3         3.161017
4         2.384615
5         3.267857
6         3.884615
7         3.283019
8         3.800000
9         3.150000
10        3.450820
11        3.689024
12        2.861111
13        3.937500
14        3.451613
15        2.318182
16        3.948864
17        3.924419
18        3.288462
19        2.597826
20        2.538462
21        3.536842
22        3.355263
23        3.090909
24        3.044118
25        3.742574
26        4.100000
27        3.142857
28        4.083333
29        4.025000
30        4.050000
            ...
158238    3.750000
158314    4.500000
158528    3.500000
158956    4.000000
159093    2.000000
159462    3.000000
159690    2.000000
159755    1.000000
159858    3.750000
159972    0.500000
160080    1.000000
160271    2.500000
160438    4.250000
160440    1.500000
160563    2.500000
160565    2.000000
160567    4.000000
160590    5.000000
160656    3.500000
160718    4.000000
161084    2.500000
161155    0.500000
161594    3.000000
161830    1.000000
161918    1.500000
161944    5.000000
162376    4.500000
162542    5.000000
162672    3.000000
163949    5.000000
Name: rating, Length: 9066, dtype: float64

In [17]:
ratings[['movieId','rating']].groupby('movieId').mean()

           rating
movieId
1        3.872470
2        3.401869
3        3.161017
4        2.384615
5        3.267857
6        3.884615
7        3.283019
8        3.800000
9        3.150000
10       3.450820
11       3.689024
12       2.861111
13       3.937500
14       3.451613
15       2.318182
16       3.948864
17       3.924419
18       3.288462
19       2.597826
20       2.538462
21       3.536842
22       3.355263
23       3.090909
24       3.044118
25       3.742574
26       4.100000
27       3.142857
28       4.083333
29       4.025000
30       4.050000
...           ...
158238   3.750000
158314   4.500000
158528   3.500000
158956   4.000000
159093   2.000000
159462   3.000000
159690   2.000000
159755   1.000000
159858   3.750000
159972   0.500000
160080   1.000000
160271   2.500000
160438   4.250000
160440   1.500000
160563   2.500000
160565   2.000000
160567   4.000000
160590   5.000000
160656   3.500000
160718   4.000000
161084   2.500000
161155   0.500000
161594   3.000000
161830   1.000000
161918   1.500000
161944   5.000000
162376   4.500000
162542   5.000000
162672   3.000000
163949   5.000000

[9066 rows x 1 columns]

In [22]:
ratings[['movieId','rating']].groupby('movieId').count()

         rating
movieId
1           247
2           107
3            59
4            13
5            56
6           104
7            53
8             5
9            20
10          122
11           82
12           18
13            8
14           31
15           11
16           88
17           86
18           26
19           92
20           13
21           95
22           38
23           22
24           34
25          101
26            5
27            7
28           18
29           40
30           10
...         ...
158238        2
158314        1
158528        1
158956        1
159093        2
159462        1
159690        1
159755        1
159858        2
159972        1
160080        1
160271        1
160438        2
160440        1
160563        2
160565        1
160567        1
160590        1
160656        1
160718        1
161084        1
161155        1
161594        1
161830        1
161918        1
161944        1
162376        1
162542        1
162672        1
163949        1

[9066 rows x 1 columns]

In [14]:
ratings.groupby(['movieId']).mean()

             userId    rating     timestamp
movieId
1        338.558704  3.872470  1.103116e+09
2        318.906542  3.401869  1.069321e+09
3        374.423729  3.161017  9.662429e+08
4        355.538462  2.384615  9.277797e+08
5        320.785714  3.267857  9.967201e+08
6        334.096154  3.884615  1.001189e+09
7        321.924528  3.283019  9.575076e+08
8        213.400000  3.800000  9.424714e+08
9        277.100000  3.150000  8.715075e+08
10       316.131148  3.450820  9.977456e+08
11       353.378049  3.689024  9.895801e+08
12       347.277778  2.861111  9.934647e+08
13       409.625000  3.937500  1.121448e+09
14       332.258065  3.451613  9.259930e+08
15       432.181818  2.318182  9.960418e+08
16       320.511364  3.948864  1.088325e+09
17       371.046512  3.924419  9.661021e+08
18       362.346154  3.288462  1.008821e+09
19       355.717391  2.597826  1.062691e+09
20       312.076923  2.538462  9.818805e+08
21       317.157895  3.536842  9.693622e+08
22       390.815789  3.355263  9.689790e+08
23       302.090909  3.090909  9.718833e+08
24       397.000000  3.044118  1.040691e+09
25       348.564356  3.742574  9.790063e+08
26       115.600000  4.100000  9.273231e+08
27       419.142857  3.142857  8.878220e+08
28       315.388889  4.083333  9.759566e+08
29       345.675000  4.025000  1.066203e+09
30       428.000000  4.050000  9.066801e+08
...             ...       ...           ...
158238    44.000000  3.750000  1.468257e+09
158314   655.000000  4.500000  1.470071e+09
158528    15.000000  3.500000  1.467259e+09
158956   298.000000  4.000000  1.463601e+09
159093   146.000000  2.000000  1.466239e+09
159462    73.000000  3.000000  1.469773e+09
159690    15.000000  2.000000  1.465880e+09
159755    15.000000  1.000000  1.465793e+09
159858    44.000000  3.750000  1.469932e+09
159972    15.000000  0.500000  1.469330e+09
160080    15.000000  1.000000  1.469330e+09
160271    15.000000  2.500000  1.466803e+09
160438   174.500000  4.250000  1.470312e+09
160440   624.000000  1.500000  1.470511e+09
160563   151.000000  2.500000  1.469246e+09
160565    15.000000  2.000000  1.469330e+09
160567    15.000000  4.000000  1.469330e+09
160590    56.000000  5.000000  1.467096e+09
160656   547.000000  3.500000  1.471168e+09
160718   547.000000  4.000000  1.469713e+09
161084   547.000000  2.500000  1.468248e+09
161155    15.000000  0.500000  1.469330e+09
161594    73.000000  3.000000  1.474255e+09
161830   624.000000  1.000000  1.472493e+09
161918   624.000000  1.500000  1.472930e+09
161944   287.000000  5.000000  1.470168e+09
162376    73.000000  4.500000  1.474256e+09
162542   611.000000  5.000000  1.471521e+09
162672   611.000000  3.000000  1.471524e+09
163949   547.000000  5.000000  1.476419e+09

[9066 rows x 3 columns]

In [35]:
ratings.groupby(['movieId']).mean()['rating']

movieId
1         3.872470
2         3.401869
3         3.161017
4         2.384615
5         3.267857
6         3.884615
7         3.283019
8         3.800000
9         3.150000
10        3.450820
11        3.689024
12        2.861111
13        3.937500
14        3.451613
15        2.318182
16        3.948864
17        3.924419
18        3.288462
19        2.597826
20        2.538462
21        3.536842
22        3.355263
23        3.090909
24        3.044118
25        3.742574
26        4.100000
27        3.142857
28        4.083333
29        4.025000
30        4.050000
            ...
158238    3.750000
158314    4.500000
158528    3.500000
158956    4.000000
159093    2.000000
159462    3.000000
159690    2.000000
159755    1.000000
159858    3.750000
159972    0.500000
160080    1.000000
160271    2.500000
160438    4.250000
160440    1.500000
160563    2.500000
160565    2.000000
160567    4.000000
160590    5.000000
160656    3.500000
160718    4.000000
161084    2.500000
161155    0.500000
161594    3.000000
161830    1.000000
161918    1.500000
161944    5.000000
162376    4.500000
162542    5.000000
162672    3.000000
163949    5.000000
Name: rating, Length: 9066, dtype: float64

In [16]:
ratings.groupby(['movieId']).mean().reset_index()

      movieId      userId    rating     timestamp
0           1  338.558704  3.872470  1.103116e+09
1           2  318.906542  3.401869  1.069321e+09
2           3  374.423729  3.161017  9.662429e+08
3           4  355.538462  2.384615  9.277797e+08
4           5  320.785714  3.267857  9.967201e+08
5           6  334.096154  3.884615  1.001189e+09
6           7  321.924528  3.283019  9.575076e+08
7           8  213.400000  3.800000  9.424714e+08
8           9  277.100000  3.150000  8.715075e+08
9          10  316.131148  3.450820  9.977456e+08
10         11  353.378049  3.689024  9.895801e+08
11         12  347.277778  2.861111  9.934647e+08
12         13  409.625000  3.937500  1.121448e+09
13         14  332.258065  3.451613  9.259930e+08
14         15  432.181818  2.318182  9.960418e+08
15         16  320.511364  3.948864  1.088325e+09
16         17  371.046512  3.924419  9.661021e+08
17         18  362.346154  3.288462  1.008821e+09
18         19  355.717391  2.597826  1.062691e+09
19         20  312.076923  2.538462  9.818805e+08
20         21  317.157895  3.536842  9.693622e+08
21         22  390.815789  3.355263  9.689790e+08
22         23  302.090909  3.090909  9.718833e+08
23         24  397.000000  3.044118  1.040691e+09
24         25  348.564356  3.742574  9.790063e+08
25         26  115.600000  4.100000  9.273231e+08
26         27  419.142857  3.142857  8.878220e+08
27         28  315.388889  4.083333  9.759566e+08
28         29  345.675000  4.025000  1.066203e+09
29         30  428.000000  4.050000  9.066801e+08
...       ...         ...       ...           ...
9036   158238   44.000000  3.750000  1.468257e+09
9037   158314  655.000000  4.500000  1.470071e+09
9038   158528   15.000000  3.500000  1.467259e+09
9039   158956  298.000000  4.000000  1.463601e+09
9040   159093  146.000000  2.000000  1.466239e+09
9041   159462   73.000000  3.000000  1.469773e+09
9042   159690   15.000000  2.000000  1.465880e+09
9043   159755   15.000000  1.000000  1.465793e+09
9044   159858   44.000000  3.750000  1.469932e+09
9045   159972   15.000000  0.500000  1.469330e+09
9046   160080   15.000000  1.000000  1.469330e+09
9047   160271   15.000000  2.500000  1.466803e+09
9048   160438  174.500000  4.250000  1.470312e+09
9049   160440  624.000000  1.500000  1.470511e+09
9050   160563  151.000000  2.500000  1.469246e+09
9051   160565   15.000000  2.000000  1.469330e+09
9052   160567   15.000000  4.000000  1.469330e+09
9053   160590   56.000000  5.000000  1.467096e+09
9054   160656  547.000000  3.500000  1.471168e+09
9055   160718  547.000000  4.000000  1.469713e+09
9056   161084  547.000000  2.500000  1.468248e+09
9057   161155   15.000000  0.500000  1.469330e+09
9058   161594   73.000000  3.000000  1.474255e+09
9059   161830  624.000000  1.000000  1.472493e+09
9060   161918  624.000000  1.500000  1.472930e+09
9061   161944  287.000000  5.000000  1.470168e+09
9062   162376   73.000000  4.500000  1.474256e+09
9063   162542  611.000000  5.000000  1.471521e+09
9064   162672  611.000000  3.000000  1.471524e+09
9065   163949  547.000000  5.000000  1.476419e+09

[9066 rows x 4 columns]

In [15]:
ratings.groupby(['movieId'],as_index=False).mean()

      movieId      userId    rating     timestamp
0           1  338.558704  3.872470  1.103116e+09
1           2  318.906542  3.401869  1.069321e+09
2           3  374.423729  3.161017  9.662429e+08
3           4  355.538462  2.384615  9.277797e+08
4           5  320.785714  3.267857  9.967201e+08
5           6  334.096154  3.884615  1.001189e+09
6           7  321.924528  3.283019  9.575076e+08
7           8  213.400000  3.800000  9.424714e+08
8           9  277.100000  3.150000  8.715075e+08
9          10  316.131148  3.450820  9.977456e+08
10         11  353.378049  3.689024  9.895801e+08
11         12  347.277778  2.861111  9.934647e+08
12         13  409.625000  3.937500  1.121448e+09
13         14  332.258065  3.451613  9.259930e+08
14         15  432.181818  2.318182  9.960418e+08
15         16  320.511364  3.948864  1.088325e+09
16         17  371.046512  3.924419  9.661021e+08
17         18  362.346154  3.288462  1.008821e+09
18         19  355.717391  2.597826  1.062691e+09
19         20  312.076923  2.538462  9.818805e+08
20         21  317.157895  3.536842  9.693622e+08
21         22  390.815789  3.355263  9.689790e+08
22         23  302.090909  3.090909  9.718833e+08
23         24  397.000000  3.044118  1.040691e+09
24         25  348.564356  3.742574  9.790063e+08
25         26  115.600000  4.100000  9.273231e+08
26         27  419.142857  3.142857  8.878220e+08
27         28  315.388889  4.083333  9.759566e+08
28         29  345.675000  4.025000  1.066203e+09
29         30  428.000000  4.050000  9.066801e+08
...       ...         ...       ...           ...
9036   158238   44.000000  3.750000  1.468257e+09
9037   158314  655.000000  4.500000  1.470071e+09
9038   158528   15.000000  3.500000  1.467259e+09
9039   158956  298.000000  4.000000  1.463601e+09
9040   159093  146.000000  2.000000  1.466239e+09
9041   159462   73.000000  3.000000  1.469773e+09
9042   159690   15.000000  2.000000  1.465880e+09
9043   159755   15.000000  1.000000  1.465793e+09
9044   159858   44.000000  3.750000  1.469932e+09
9045   159972   15.000000  0.500000  1.469330e+09
9046   160080   15.000000  1.000000  1.469330e+09
9047   160271   15.000000  2.500000  1.466803e+09
9048   160438  174.500000  4.250000  1.470312e+09
9049   160440  624.000000  1.500000  1.470511e+09
9050   160563  151.000000  2.500000  1.469246e+09
9051   160565   15.000000  2.000000  1.469330e+09
9052   160567   15.000000  4.000000  1.469330e+09
9053   160590   56.000000  5.000000  1.467096e+09
9054   160656  547.000000  3.500000  1.471168e+09
9055   160718  547.000000  4.000000  1.469713e+09
9056   161084  547.000000  2.500000  1.468248e+09
9057   161155   15.000000  0.500000  1.469330e+09
9058   161594   73.000000  3.000000  1.474255e+09
9059   161830  624.000000  1.000000  1.472493e+09
9060   161918  624.000000  1.500000  1.472930e+09
9061   161944  287.000000  5.000000  1.470168e+09
9062   162376   73.000000  4.500000  1.474256e+09
9063   162542  611.000000  5.000000  1.471521e+09
9064   162672  611.000000  3.000000  1.471524e+09
9065   163949  547.000000  5.000000  1.476419e+09

[9066 rows x 4 columns]

In [18]:
ratings.userId.nunique()

671

In [37]:
ratings.groupby(['userId'],as_index=False).mean()[['userId','rating']]

     userId    rating
0         1  2.550000
1         2  3.486842
2         3  3.568627
3         4  4.348039
4         5  3.910000
5         6  3.261364
6         7  3.465909
7         8  3.866379
8         9  3.755556
9        10  3.695652
10       11  4.078947
11       12  2.754098
12       13  3.745283
13       14  2.950000
14       15  2.621765
15       16  4.120690
16       17  3.743802
17       18  3.235294
18       19  3.534279
19       20  3.290816
20       21  3.506173
21       22  3.275000
22       23  3.632920
23       24  3.666667
24       25  3.115385
25       26  3.468023
26       27  3.826087
27       28  4.280000
28       29  2.863636
29       30  3.765084
..      ...       ...
641     642  3.916667
642     643  3.395833
643     644  3.743590
644     645  3.683333
645     646  4.130178
646     647  4.273333
647     648  3.628906
648     649  3.511111
649     650  3.310345
650     651  3.900000
651     652  4.220974
652     653  4.000000
653     654  4.068690
654     655  4.085714
655     656  4.523438
656     657  3.500000
657     658  4.350000
658     659  3.387324
659     660  4.168478
660     661  3.833333
661     662  3.396552
662     663  3.730769
663     664  3.796724
664     665  3.285714
665     666  2.950000
666     667  3.647059
667     668  3.750000
668     669  3.351351
669     670  3.806452
670     671  3.917391

[671 rows x 2 columns]

In [29]:
# multiple aggregation is very useful we can do it pretty easily
ratings.groupby('movieId').rating.agg(['min','max','mean','count'])

         min  max      mean  count
movieId
1        1.0  5.0  3.872470    247
2        1.5  5.0  3.401869    107
3        0.5  5.0  3.161017     59
4        1.0  3.5  2.384615     13
5        1.0  5.0  3.267857     56
6        1.0  5.0  3.884615    104
7        0.5  5.0  3.283019     53
8        1.0  5.0  3.800000      5
9        1.0  5.0  3.150000     20
10       1.0  5.0  3.450820    122
11       1.0  5.0  3.689024     82
12       1.0  5.0  2.861111     18
13       2.5  5.0  3.937500      8
14       2.0  5.0  3.451613     31
15       1.0  4.0  2.318182     11
16       1.0  5.0  3.948864     88
17       1.0  5.0  3.924419     86
18       1.0  5.0  3.288462     26
19       0.5  5.0  2.597826     92
20       1.0  5.0  2.538462     13
21       1.0  5.0  3.536842     95
22       1.0  5.0  3.355263     38
23       1.0  5.0  3.090909     22
24       0.5  5.0  3.044118     34
25       0.5  5.0  3.742574    101
26       3.0  5.0  4.100000      5
27       2.0  4.0  3.142857      7
28       2.0  5.0  4.083333     18
29       2.0  5.0  4.025000     40
30       2.0  5.0  4.050000     10
...      ...  ...       ...    ...
158238   3.5  4.0  3.750000      2
158314   4.5  4.5  4.500000      1
158528   3.5  3.5  3.500000      1
158956   4.0  4.0  4.000000      1
159093   1.0  3.0  2.000000      2
159462   3.0  3.0  3.000000      1
159690   2.0  2.0  2.000000      1
159755   1.0  1.0  1.000000      1
159858   3.5  4.0  3.750000      2
159972   0.5  0.5  0.500000      1
160080   1.0  1.0  1.000000      1
160271   2.5  2.5  2.500000      1
160438   4.0  4.5  4.250000      2
160440   1.5  1.5  1.500000      1
160563   1.0  4.0  2.500000      2
160565   2.0  2.0  2.000000      1
160567   4.0  4.0  4.000000      1
160590   5.0  5.0  5.000000      1
160656   3.5  3.5  3.500000      1
160718   4.0  4.0  4.000000      1
161084   2.5  2.5  2.500000      1
161155   0.5  0.5  0.500000      1
161594   3.0  3.0  3.000000      1
161830   1.0  1.0  1.000000      1
161918   1.5  1.5  1.500000      1
161944   5.0  5.0  5.000000      1
162376   4.5  4.5  4.500000      1
162542   5.0  5.0  5.000000      1
162672   3.0  3.0  3.000000      1
163949   5.0  5.0  5.000000      1

[9066 rows x 4 columns]

# pivot table

In [34]:
# pivot_table allows you to aggregate and summarize data
ratings.pivot_table(values='rating', index='movieId', columns=None, aggfunc='mean', margins=False)
# ratings[['movieId','rating']].groupby('movieId').mean()
# the above two will give the same result.

           rating
movieId
1        3.872470
2        3.401869
3        3.161017
4        2.384615
5        3.267857
6        3.884615
7        3.283019
8        3.800000
9        3.150000
10       3.450820
11       3.689024
12       2.861111
13       3.937500
14       3.451613
15       2.318182
16       3.948864
17       3.924419
18       3.288462
19       2.597826
20       2.538462
21       3.536842
22       3.355263
23       3.090909
24       3.044118
25       3.742574
26       4.100000
27       3.142857
28       4.083333
29       4.025000
30       4.050000
...           ...
158238   3.750000
158314   4.500000
158528   3.500000
158956   4.000000
159093   2.000000
159462   3.000000
159690   2.000000
159755   1.000000
159858   3.750000
159972   0.500000
160080   1.000000
160271   2.500000
160438   4.250000
160440   1.500000
160563   2.500000
160565   2.000000
160567   4.000000
160590   5.000000
160656   3.500000
160718   4.000000
161084   2.500000
161155   0.500000
161594   3.000000
161830   1.000000
161918   1.500000
161944   5.000000
162376   4.500000
162542   5.000000
162672   3.000000
163949   5.000000

[9066 rows x 1 columns]

In [39]:
ratings.pivot_table(values='rating', index='movieId', columns=None, aggfunc=['mean','count'], fill_value=None)

             mean  count
           rating rating
movieId
1        3.872470    247
2        3.401869    107
3        3.161017     59
4        2.384615     13
5        3.267857     56
6        3.884615    104
7        3.283019     53
8        3.800000      5
9        3.150000     20
10       3.450820    122
11       3.689024     82
12       2.861111     18
13       3.937500      8
14       3.451613     31
15       2.318182     11
16       3.948864     88
17       3.924419     86
18       3.288462     26
19       2.597826     92
20       2.538462     13
21       3.536842     95
22       3.355263     38
23       3.090909     22
24       3.044118     34
25       3.742574    101
26       4.100000      5
27       3.142857      7
28       4.083333     18
29       4.025000     40
30       4.050000     10
...           ...    ...
158238   3.750000      2
158314   4.500000      1
158528   3.500000      1
158956   4.000000      1
159093   2.000000      2
159462   3.000000      1
159690   2.000000      1
159755   1.000000      1
159858   3.750000      2
159972   0.500000      1
160080   1.000000      1
160271   2.500000      1
160438   4.250000      2
160440   1.500000      1
160563   2.500000      2
160565   2.000000      1
160567   4.000000      1
160590   5.000000      1
160656   3.500000      1
160718   4.000000      1
161084   2.500000      1
161155   0.500000      1
161594   3.000000      1
161830   1.000000      1
161918   1.500000      1
161944   5.000000      1
162376   4.500000      1
162542   5.000000      1
162672   3.000000      1
163949   5.000000      1

[9066 rows x 2 columns]

In [4]:
ratings.pivot_table(values='rating', index='movieId', columns=['userId'], aggfunc='count', fill_value=None)

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
movieId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,1.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN
17,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
loan = pd.read_csv("A:/Hari/Loan.csv")
loan.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [17]:
loan.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [14]:
loan.pivot_table(index='Gender',values='Loan_Status',columns=['Married'],aggfunc=len)

Married   No  Yes
Gender
Female    80   31
Male     130  357

In [11]:
loan.pivot_table(index='Gender',values='Loan_Status',columns=['Education'],aggfunc=len)

Education  Graduate  Not Graduate
Gender
Female           92            20
Male            376           113

In [25]:
# cross tab will do the same work for us 
# this is very important and very useful
pd.crosstab(loan['Gender'],loan['Education'])

Education  Graduate  Not Graduate
Gender
Female           92            20
Male            376           113

In [16]:
loan.pivot_table(index='Gender',values='Loan_Status',columns=['Education'],aggfunc=len,margins=True)

Education  Graduate  Not Graduate  All
Gender
Female           92            20  112
Male            376           113  489
All             468           133  601

In [12]:
loan.pivot_table(index='Gender',values='Loan_Status',columns=['Education','Married'],aggfunc=len)

Education Graduate      Not Graduate
Married         No  Yes           No Yes
Gender
Female          66   25           14   6
Male            99  275           31  82

In [18]:
loan.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [19]:
# It is very useful
loan.pivot_table(index='Gender',values='ApplicantIncome',columns= ['Education','Married'],aggfunc=sum)

Education Graduate          Not Graduate
Married         No      Yes           No     Yes
Gender
Female      286255   131173        74048   18546
Male        565367  1679181       115332  294865

In [32]:
loan.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [33]:
# pivot is different from pivot table
#pivot used to reshape and transform data
loan.pivot( columns='Married',values = 'ApplicantIncome',index='Loan_ID')

Married   NaN      No      Yes
Loan_ID
LP001002  NaN  5849.0      NaN
LP001003  NaN     NaN   4583.0
LP001005  NaN     NaN   3000.0
LP001006  NaN     NaN   2583.0
LP001008  NaN  6000.0      NaN
LP001011  NaN     NaN   5417.0
LP001013  NaN     NaN   2333.0
LP001014  NaN     NaN   3036.0
LP001018  NaN     NaN   4006.0
LP001020  NaN     NaN  12841.0
LP001024  NaN     NaN   3200.0
LP001027  NaN     NaN   2500.0
LP001028  NaN     NaN   3073.0
LP001029  NaN  1853.0      NaN
LP001030  NaN     NaN   1299.0
LP001032  NaN  4950.0      NaN
LP001034  NaN  3596.0      NaN
LP001036  NaN  3510.0      NaN
LP001038  NaN     NaN   4887.0
LP001041  NaN     NaN   2600.0
LP001043  NaN     NaN   7660.0
LP001046  NaN     NaN   5955.0
LP001047  NaN     NaN   2600.0
LP001050  NaN     NaN   3365.0
LP001052  NaN     NaN   3717.0
LP001066  NaN     NaN   9560.0
LP001068  NaN     NaN   2799.0
LP001073  NaN     NaN   4226.0
LP001086  NaN  1442.0      NaN
LP001087  NaN  3750.0      NaN
...       ...     ...      ...
LP002911  NaN     NaN   2787.0
LP002912  NaN     NaN   4283.0
LP002916  NaN     NaN   2297.0
LP002917  NaN  2165.0      NaN
LP002925  NaN  4750.0      NaN
LP002926  NaN     NaN   2726.0
LP002928  NaN     NaN   3000.0
LP002931  NaN     NaN   6000.0
LP002933  NaN  9357.0      NaN
LP002936  NaN     NaN   3859.0
LP002938  NaN     NaN  16120.0
LP002940  NaN  3833.0      NaN
LP002941  NaN     NaN   6383.0
LP002943  NaN  2987.0      NaN
LP002945  NaN     NaN   9963.0
LP002948  NaN     NaN   5780.0
LP002949  NaN   416.0      NaN
LP002950  NaN     NaN   2894.0
LP002953  NaN     NaN   5703.0
LP002958  NaN  3676.0      NaN
LP002959  NaN     NaN  12000.0
LP002960  NaN     NaN   2400.0
LP002961  NaN     NaN   3400.0
LP002964  NaN     NaN   3987.0
LP002974  NaN     NaN   3232.0
LP002978  NaN  2900.0      NaN
LP002979  NaN     NaN   4106.0
LP002983  NaN     NaN   8072.0
LP002984  NaN     NaN   7583.0
LP002990  NaN  4583.0      NaN

[614 rows x 3 columns]