In [1]:
import pandas as pd
matches = pd.read_csv(r"A:\ipl-data (1)\matches.csv")
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [3]:
deliveries = pd.read_csv(r"A:\ipl-data (1)\deliveries.csv")
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [4]:
deliveries.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [7]:
deliveries[deliveries['batsman_runs']==6].groupby(['batsman'])['batsman_runs'].count().sort_values(ascending=False)[:10]

batsman
CH Gayle          266
SK Raina          174
RG Sharma         173
DA Warner         160
V Kohli           160
AB de Villiers    158
MS Dhoni          156
YK Pathan         149
KA Pollard        148
Yuvraj Singh      141
Name: batsman_runs, dtype: int64

In [9]:
deliveries[deliveries['batsman_runs']==6].groupby(['batsman'])[['batsman_runs']].count().sort_values('batsman_runs',ascending=False)[:10]

                batsman_runs
batsman
CH Gayle                 266
SK Raina                 174
RG Sharma                173
V Kohli                  160
DA Warner                160
AB de Villiers           158
MS Dhoni                 156
YK Pathan                149
KA Pollard               148
Yuvraj Singh             141

In [10]:
deliveries[deliveries['batsman_runs']==6]['batsman'].value_counts()

CH Gayle          266
SK Raina          174
RG Sharma         173
DA Warner         160
V Kohli           160
AB de Villiers    158
MS Dhoni          156
YK Pathan         149
KA Pollard        148
Yuvraj Singh      141
RV Uthappa        125
BB McCullum       124
SR Watson         122
DR Smith          117
V Sehwag          106
AC Gilchrist       92
M Vijay            89
GJ Maxwell         82
AT Rayudu          79
NV Ojha            79
DA Miller          78
JP Duminy          78
SE Marsh           78
S Dhawan           71
KD Karthik         71
MK Pandey          65
AM Rahane          60
DJ Hussey          60
AJ Finch           59
G Gambhir          58
                 ...
K Upadhyay          1
KW Richardson       1
MC Juneja           1
A Mithun            1
JJ Bumrah           1
RV Gomez            1
SA Abbott           1
Ankit Soni          1
Niraj Patel         1
SW Tait             1
RJ Peterson         1
SK Trivedi          1
AC Thomas           1
M Rawat             1
JM Kemp             1
VH Zol              1
AD Mascarenhas      1
MA Khote            1
Vishnu Vinod        1
T Kohli             1
WD Parnell          1
Basil Thampi        1
A Choudhary         1
RR Sarwan           1
Sohail Tanvir       1
KC Cariappa         1
K Rabada            1
BJ Haddin           1
R Tewatia           1
MN van Wyk          1
Name: batsman, Length: 301, dtype: int64

In [15]:
deliveries.pivot_table(values='ball', index='batsman', columns='batsman_runs', aggfunc=len)

batsman_runs               0       1      2     3      4    5      6
batsman
A Ashish Reddy          61.0    83.0   20.0   1.0   16.0  NaN   15.0
A Chandila               3.0     4.0    NaN   NaN    NaN  NaN    NaN
A Chopra                45.0    21.0    2.0   NaN    7.0  NaN    NaN
A Choudhary              4.0    13.0    1.0   NaN    1.0  NaN    1.0
A Flintoff              24.0    23.0    2.0   1.0    5.0  NaN    2.0
A Kumble                24.0    21.0    1.0   NaN    3.0  NaN    NaN
A Mishra               168.0   162.0   20.0   NaN   27.0  NaN    5.0
A Mithun                11.0     8.0    2.0   NaN    4.0  NaN    1.0
A Mukund                 9.0    11.0    2.0   NaN    1.0  NaN    NaN
A Nehra                 37.0    21.0    1.0   NaN    3.0  NaN    1.0
A Singh                  8.0     2.0    NaN   NaN    NaN  NaN    NaN
A Symonds              308.0   288.0   66.0   4.0   74.0  NaN   41.0
A Uniyal                 3.0     4.0    NaN   NaN    NaN  NaN    NaN
A Zampa                  6.0     1.0    NaN   NaN    1.0  NaN    NaN
AA Bilakhia             43.0    31.0    9.0   NaN    5.0  NaN    NaN
AA Chavan                5.0     4.0    NaN   NaN    2.0  NaN    NaN
AA Jhunjhunwala         98.0    82.0   13.0   1.0   19.0  NaN    5.0
AA Noffke                6.0     5.0    NaN   NaN    1.0  NaN    NaN
AB Agarkar              60.0    67.0   15.0   NaN   13.0  NaN    5.0
AB Barath               22.0    14.0    1.0   NaN    5.0  NaN    1.0
AB Dinda                31.0    16.0    1.0   NaN    2.0  NaN    NaN
AB McDonald             38.0    42.0    9.0   1.0    9.0  NaN    4.0
AB de Villiers         778.0   980.0  187.0  12.0  287.0  NaN  158.0
AC Blizzard             48.0    17.0    2.0   1.0   21.0  NaN    2.0
AC Gilchrist           737.0   417.0   66.0   4.0  239.0  NaN   92.0
AC Thomas                8.0     8.0    1.0   NaN    1.0  NaN    1.0
AC Voges                44.0    61.0   18.0   2.0   15.0  NaN    3.0
AD Mascarenhas          29.0    35.0    9.0   NaN    5.0  NaN    1.0
AD Mathews             207.0   267.0   49.0   3.0   44.0  NaN   29.0
AD Nath                 14.0    10.0    3.0   NaN    1.0  NaN    NaN
...                      ...     ...    ...   ...    ...  ...    ...
V Kohli               1287.0  1410.0  242.0  11.0  384.0  NaN  160.0
V Pratap Singh           1.0     NaN    NaN   NaN    NaN  NaN    NaN
V Sehwag               737.0   558.0   96.0   2.0  334.0  NaN  106.0
V Shankar               22.0    37.0    5.0   NaN   12.0  NaN    1.0
VH Zol                  13.0     7.0    2.0   NaN    3.0  NaN    1.0
VR Aaron                30.0    18.0    4.0   NaN    2.0  NaN    2.0
VRV Singh                2.0     NaN    NaN   NaN    1.0  NaN    NaN
VS Malik                 3.0     3.0    NaN   NaN    1.0  NaN    NaN
VS Yeligati              1.0     NaN    1.0   NaN    NaN  NaN    NaN
VVS Laxman             123.0   100.0   10.0   NaN   33.0  NaN    5.0
VY Mahesh               15.0    11.0    2.0   NaN    NaN  NaN    NaN
Vishnu Vinod            15.0     9.0    NaN   NaN    1.0  NaN    1.0
W Jaffer                64.0    41.0    6.0   1.0   14.0  NaN    3.0
WA Mota                 30.0    40.0    4.0   NaN    2.0  NaN    NaN
WD Parnell              39.0    31.0    5.0   NaN    4.0  NaN    1.0
WP Saha                450.0   472.0  107.0   3.0  130.0  NaN   57.0
WPUJC Vaas              24.0    33.0   11.0   NaN    2.0  NaN    3.0
Washington Sundar        6.0     3.0    3.0   NaN    NaN  NaN    NaN
X Thalaivan Sargunam     9.0     6.0    2.0   NaN    NaN  NaN    NaN
Y Gnaneswara Rao         9.0     5.0    1.0   NaN    3.0  NaN    NaN
Y Nagar                113.0   109.0   18.0   2.0   20.0  NaN    9.0
Y Venugopal Rao        355.0   341.0   53.0   1.0   77.0  1.0   37.0
YA Abdulla               1.0     NaN    NaN   NaN    NaN  NaN    NaN
YK Pathan              765.0   781.0  136.0   5.0  240.0  NaN  149.0
YS Chahal               15.0    13.0    1.0   NaN    NaN  NaN    NaN
YV Takawale            100.0    41.0   12.0   NaN   26.0  1.0    3.0
Yashpal Singh           39.0    20.0    2.0   1.0    5.0  NaN    NaN
Younis Khan              4.0     3.0    NaN   NaN    NaN  NaN    NaN
Yuvraj Singh           898.0   690.0  113.0   3.0  205.0  NaN  141.0
Z Khan                  74.0    47.0    7.0   NaN   11.0  NaN    2.0

[461 rows x 7 columns]

In [17]:
deliveries.pivot_table(values='ball', index='batsman', columns='batsman_runs', aggfunc=len)[6].sort_values(ascending=False)

batsman
CH Gayle                266.0
SK Raina                174.0
RG Sharma               173.0
DA Warner               160.0
V Kohli                 160.0
AB de Villiers          158.0
MS Dhoni                156.0
YK Pathan               149.0
KA Pollard              148.0
Yuvraj Singh            141.0
RV Uthappa              125.0
BB McCullum             124.0
SR Watson               122.0
DR Smith                117.0
V Sehwag                106.0
AC Gilchrist             92.0
M Vijay                  89.0
GJ Maxwell               82.0
NV Ojha                  79.0
AT Rayudu                79.0
SE Marsh                 78.0
JP Duminy                78.0
DA Miller                78.0
KD Karthik               71.0
S Dhawan                 71.0
MK Pandey                65.0
AM Rahane                60.0
DJ Hussey                60.0
AJ Finch                 59.0
G Gambhir                58.0
                        ...
SN Thakur                 NaN
SP Jackson                NaN
SS Shaikh                 NaN
Sandeep Sharma            NaN
Shivam Sharma             NaN
Shoaib Ahmed              NaN
Shoaib Akhtar             NaN
Shoaib Malik              NaN
Sunny Gupta               NaN
Swapnil Singh             NaN
T Taibu                   NaN
T Thushara                NaN
TA Boult                  NaN
TD Paine                  NaN
TM Srivastava             NaN
U Kaul                    NaN
UA Birla                  NaN
V Pratap Singh            NaN
VRV Singh                 NaN
VS Malik                  NaN
VS Yeligati               NaN
VY Mahesh                 NaN
WA Mota                   NaN
Washington Sundar         NaN
X Thalaivan Sargunam      NaN
Y Gnaneswara Rao          NaN
YA Abdulla                NaN
YS Chahal                 NaN
Yashpal Singh             NaN
Younis Khan               NaN
Name: 6, Length: 461, dtype: float64