In [1]:
import pandas as pd

In [8]:
rfm = pd.read_excel(R"C:\Users\Clustrex4\Downloads\rfm_sec.xlsx")

In [9]:
rfm

,CustomerID,InvoiceDate,recency,Frequency,Monetary,R_Quartile,F_Quartile,M_Quartile,FM_Quartile,RFM_Score,Country,Segmentation
0,12347,2011-12-07 15:52:00,2,7,4.310000e+03,5,4,5,4.5,545,Iceland,Champion
1,12348,2011-09-25 13:13:00,75,4,1.797240e+03,2,3,4,3.5,234,Finland,Loyal Customers
2,12349,2011-11-21 09:51:00,18,1,1.757550e+03,4,1,4,2.5,414,Italy,Potential Loyalist
3,12350,2011-02-02 16:01:00,310,1,3.344000e+02,1,1,2,1.5,112,Norway,Hibernating
4,12352,2011-11-03 14:37:00,36,11,1.545410e+03,3,5,4,4.5,354,Norway,Loyal Customers
5,12353,2011-05-19 17:47:00,204,1,8.900000e+01,1,1,1,1.0,111,Bahrain,Hibernating
6,12354,2011-04-21 13:11:00,232,1,1.079400e+03,1,1,4,2.5,114,Spain,At Risk
7,12355,2011-05-09 13:49:00,214,1,4.594000e+02,1,1,2,1.5,112,Bahrain,Hibernating
8,12356,2011-11-17 08:40:00,22,3,2.811430e+03,4,3,5,4.0,435,Portugal,Champion
9,12357,2011-11-06 16:07:00,33,1,6.207670e+03,3,1,5,3.0,315,Switzerland,Loyal Customers
10,12358,2011-12-08 10:26:00,1,2,1.168060e+03,5,2,4,3.0,524,Austria,Loyal Customers
11,12359,2011-12-02 11:21:00,7,6,6.245530e+03,5,4,5,4.5,545,Cyprus,Champion
12,12360,2011-10-18 15:22:00,52,3,2.662060e+03,3,3,5,4.0,335,Austria,Loyal Customers
13,12361,2011-02-25 13:51:00,287,1,1.899000e+02,1,1,1,1.0,111,Belgium,Hibernating
14,12362,2011-12-06 15:40:00,3,13,5.154580e+03,5,5,5,5.0,555,Belgium,Champion
15,12363,2011-08-22 10:18:00,109,2,5.520000e+02,2,2,3,2.5,223,Unspecified,Customers Needing Attention
16,12364,2011-12-02 10:22:00,7,4,1.313100e+03,5,3,4,3.5,534,Belgium,Loyal Customers
17,12365,2011-02-21 14:04:00,291,3,3.206900e+02,1,3,2,2.5,132,Cyprus,At Risk
18,12367,2011-12-05 16:48:00,4,1,1.689000e+02,5,1,1,1.0,511,Denmark,Potential Loyalist
19,12370,2011-10-19 14:51:00,51,4,3.545690e+03,3,3,5,4.0,335,Cyprus,Loyal Customers
20,12370,2011-10-19 14:51:00,51,4,3.545690e+03,3,3,5,4.0,335,Austria,Loyal Customers
21,12371,2011-10-26 10:16:00,44,2,1.887960e+03,3,2,4,3.0,324,Switzerland,Loyal Customers
22,12372,2011-09-29 12:12:00,71,3,1.298040e+03,3,3,4,3.5,334,Denmark,Loyal Customers
23,12373,2011-02-01 13:10:00,311,1,3.646000e+02,1,1,2,1.5,112,Austria,Hibernating
24,12374,2011-11-14 15:37:00,25,1,7.429300e+02,4,1,3,2.0,413,Austria,Potential Loyalist
25,12375,2011-12-07 11:27:00,2,3,4.554200e+02,5,3,2,2.5,532,Finland,Potential Loyalist
26,12377,2011-01-28 15:45:00,315,2,1.628120e+03,1,2,4,3.0,124,Switzerland,At Risk
27,12378,2011-08-02 10:34:00,129,1,4.008620e+03,2,1,5,3.0,215,Switzerland,Loyal Customers
28,12379,2011-09-19 10:09:00,81,3,8.502900e+02,2,3,3,3.0,233,Belgium,Loyal Customers
29,12380,2011-11-18 11:27:00,21,5,2.720560e+03,4,4,5,4.5,445,Belgium,Champion
...,...,...,...,...,...,...,...,...,...,...,...,...
4300,18241,2011-11-30 12:10:00,9,18,2.058090e+03,5,5,5,5.0,555,United Kingdom,Champion
4301,18242,2011-09-28 13:43:00,72,4,2.232490e+03,2,3,5,4.0,235,United Kingdom,Loyal Customers
4302,18245,2011-12-02 14:48:00,7,8,2.507560e+03,5,5,5,5.0,555,United Kingdom,Champion
4303,18246,2011-11-16 11:49:00,23,2,5.961000e+02,4,2,3,2.5,423,United Kingdom,Potential Loyalist
4304,18248,2011-08-18 06:14:00,113,4,7.830200e+02,2,3,3,3.0,233,United Kingdom,Loyal Customers
4305,18249,2011-11-22 15:07:00,17,1,9.534000e+01,4,1,1,1.0,411,United Kingdom,Potential Loyalist
4306,18250,2011-02-11 13:59:00,301,2,3.429200e+02,1,2,2,2.0,122,United Kingdom,At Risk
4307,18251,2011-09-13 15:03:00,87,1,4.314720e+03,2,1,5,3.0,215,United Kingdom,Loyal Customers
4308,18252,2011-10-20 12:43:00,50,2,5.266700e+02,3,2,3,2.5,323,United Kingdom,Potential Loyalist
4309,18255,2011-09-11 13:16:00,89,1,1.033000e+02,2,1,1,1.0,211,United Kingdom,About To Sleep
4310,18257,2011-10-31 14:48:00,39,12,2.265380e+03,3,5,5,5.0,355,United Kingdom,Loyal Customers
4311,18259,2011-11-15 12:34:00,24,3,2.338600e+03,4,3,5,4.0,435,United Kingdom,Champion
4312,18260,2011-06-20 12:37:00,172,8,2.595000e+03,2,5,5,5.0,255,United Kingdom,Loyal Customers
4313,18261,2011-10-27 15:36:00,43,2,3.242400e+02,3,2,2,2.0,322,United Kingdom,Potential Loyalist
4314,18262,2011-07-22 16:04:00,140,1,1.494800e+02,2,1,1,1.0,211,United Kingdom,About To Sleep
4315,18263,2011-11-16 16:19:00,23,4,1.211080e+03,4,3,4,3.5,434,United Kingdom,Loyal Customers
4316,18265,2011-09-28 14:10:00,72,2,8.015100e+02,2,2,3,2.5,223,United Kingdom,Customers Needing Attention
4317,18269,2010-12-16 15:39:00,358,2,1.389000e+02,1,2,1,1.5,121,United Kingdom,Hibernating
4318,18270,2011-11-01 13:57:00,38,3,2.389500e+02,3,3,2,2.5,332,United Kingdom,Potential Loyalist
4319,18272,2011-12-07 12:43:00,2,7,3.064780e+03,5,4,5,4.5,545,United Kingdom,Champion
4320,18273,2011-12-07 13:16:00,2,3,2.040000e+02,5,3,1,2.0,531,United Kingdom,Potential Loyalist
4321,18274,2011-11-22 10:18:00,17,2,1.243450e-14,4,2,1,1.5,421,United Kingdom,Potential Loyalist
4322,18276,2011-11-18 17:01:00,21,3,3.233600e+02,4,3,2,2.5,432,United Kingdom,Potential Loyalist
4323,18277,2011-10-12 15:22:00,58,2,9.763000e+01,3,2,1,1.5,321,United Kingdom,Potential Loyalist
4324,18278,2011-09-27 11:58:00,73,1,1.739000e+02,2,1,1,1.0,211,United Kingdom,About To Sleep
4325,18280,2011-03-07 09:52:00,277,1,1.806000e+02,1,1,1,1.0,111,United Kingdom,Hibernating
4326,18281,2011-06-12 10:53:00,180,1,8.082000e+01,1,1,1,1.0,111,United Kingdom,Hibernating
4327,18282,2011-12-02 11:43:00,7,3,1.766000e+02,5,3,1,2.0,531,United Kingdom,Potential Loyalist
4328,18283,2011-12-06 12:02:00,3,16,2.094880e+03,5,5,5,5.0,555,United Kingdom,Champion
4329,18287,2011-10-28 09:29:00,42,3,1.837280e+03,3,3,4,3.5,334,United Kingdom,Loyal Customers

In [12]:
rfm.drop(['Segmentation'], axis=1)

,CustomerID,InvoiceDate,recency,Frequency,Monetary,R_Quartile,F_Quartile,M_Quartile,FM_Quartile,RFM_Score,Country
0,12347,2011-12-07 15:52:00,2,7,4.310000e+03,5,4,5,4.5,545,Iceland
1,12348,2011-09-25 13:13:00,75,4,1.797240e+03,2,3,4,3.5,234,Finland
2,12349,2011-11-21 09:51:00,18,1,1.757550e+03,4,1,4,2.5,414,Italy
3,12350,2011-02-02 16:01:00,310,1,3.344000e+02,1,1,2,1.5,112,Norway
4,12352,2011-11-03 14:37:00,36,11,1.545410e+03,3,5,4,4.5,354,Norway
5,12353,2011-05-19 17:47:00,204,1,8.900000e+01,1,1,1,1.0,111,Bahrain
6,12354,2011-04-21 13:11:00,232,1,1.079400e+03,1,1,4,2.5,114,Spain
7,12355,2011-05-09 13:49:00,214,1,4.594000e+02,1,1,2,1.5,112,Bahrain
8,12356,2011-11-17 08:40:00,22,3,2.811430e+03,4,3,5,4.0,435,Portugal
9,12357,2011-11-06 16:07:00,33,1,6.207670e+03,3,1,5,3.0,315,Switzerland
10,12358,2011-12-08 10:26:00,1,2,1.168060e+03,5,2,4,3.0,524,Austria
11,12359,2011-12-02 11:21:00,7,6,6.245530e+03,5,4,5,4.5,545,Cyprus
12,12360,2011-10-18 15:22:00,52,3,2.662060e+03,3,3,5,4.0,335,Austria
13,12361,2011-02-25 13:51:00,287,1,1.899000e+02,1,1,1,1.0,111,Belgium
14,12362,2011-12-06 15:40:00,3,13,5.154580e+03,5,5,5,5.0,555,Belgium
15,12363,2011-08-22 10:18:00,109,2,5.520000e+02,2,2,3,2.5,223,Unspecified
16,12364,2011-12-02 10:22:00,7,4,1.313100e+03,5,3,4,3.5,534,Belgium
17,12365,2011-02-21 14:04:00,291,3,3.206900e+02,1,3,2,2.5,132,Cyprus
18,12367,2011-12-05 16:48:00,4,1,1.689000e+02,5,1,1,1.0,511,Denmark
19,12370,2011-10-19 14:51:00,51,4,3.545690e+03,3,3,5,4.0,335,Cyprus
20,12370,2011-10-19 14:51:00,51,4,3.545690e+03,3,3,5,4.0,335,Austria
21,12371,2011-10-26 10:16:00,44,2,1.887960e+03,3,2,4,3.0,324,Switzerland
22,12372,2011-09-29 12:12:00,71,3,1.298040e+03,3,3,4,3.5,334,Denmark
23,12373,2011-02-01 13:10:00,311,1,3.646000e+02,1,1,2,1.5,112,Austria
24,12374,2011-11-14 15:37:00,25,1,7.429300e+02,4,1,3,2.0,413,Austria
25,12375,2011-12-07 11:27:00,2,3,4.554200e+02,5,3,2,2.5,532,Finland
26,12377,2011-01-28 15:45:00,315,2,1.628120e+03,1,2,4,3.0,124,Switzerland
27,12378,2011-08-02 10:34:00,129,1,4.008620e+03,2,1,5,3.0,215,Switzerland
28,12379,2011-09-19 10:09:00,81,3,8.502900e+02,2,3,3,3.0,233,Belgium
29,12380,2011-11-18 11:27:00,21,5,2.720560e+03,4,4,5,4.5,445,Belgium
...,...,...,...,...,...,...,...,...,...,...,...
4300,18241,2011-11-30 12:10:00,9,18,2.058090e+03,5,5,5,5.0,555,United Kingdom
4301,18242,2011-09-28 13:43:00,72,4,2.232490e+03,2,3,5,4.0,235,United Kingdom
4302,18245,2011-12-02 14:48:00,7,8,2.507560e+03,5,5,5,5.0,555,United Kingdom
4303,18246,2011-11-16 11:49:00,23,2,5.961000e+02,4,2,3,2.5,423,United Kingdom
4304,18248,2011-08-18 06:14:00,113,4,7.830200e+02,2,3,3,3.0,233,United Kingdom
4305,18249,2011-11-22 15:07:00,17,1,9.534000e+01,4,1,1,1.0,411,United Kingdom
4306,18250,2011-02-11 13:59:00,301,2,3.429200e+02,1,2,2,2.0,122,United Kingdom
4307,18251,2011-09-13 15:03:00,87,1,4.314720e+03,2,1,5,3.0,215,United Kingdom
4308,18252,2011-10-20 12:43:00,50,2,5.266700e+02,3,2,3,2.5,323,United Kingdom
4309,18255,2011-09-11 13:16:00,89,1,1.033000e+02,2,1,1,1.0,211,United Kingdom
4310,18257,2011-10-31 14:48:00,39,12,2.265380e+03,3,5,5,5.0,355,United Kingdom
4311,18259,2011-11-15 12:34:00,24,3,2.338600e+03,4,3,5,4.0,435,United Kingdom
4312,18260,2011-06-20 12:37:00,172,8,2.595000e+03,2,5,5,5.0,255,United Kingdom
4313,18261,2011-10-27 15:36:00,43,2,3.242400e+02,3,2,2,2.0,322,United Kingdom
4314,18262,2011-07-22 16:04:00,140,1,1.494800e+02,2,1,1,1.0,211,United Kingdom
4315,18263,2011-11-16 16:19:00,23,4,1.211080e+03,4,3,4,3.5,434,United Kingdom
4316,18265,2011-09-28 14:10:00,72,2,8.015100e+02,2,2,3,2.5,223,United Kingdom
4317,18269,2010-12-16 15:39:00,358,2,1.389000e+02,1,2,1,1.5,121,United Kingdom
4318,18270,2011-11-01 13:57:00,38,3,2.389500e+02,3,3,2,2.5,332,United Kingdom
4319,18272,2011-12-07 12:43:00,2,7,3.064780e+03,5,4,5,4.5,545,United Kingdom
4320,18273,2011-12-07 13:16:00,2,3,2.040000e+02,5,3,1,2.0,531,United Kingdom
4321,18274,2011-11-22 10:18:00,17,2,1.243450e-14,4,2,1,1.5,421,United Kingdom
4322,18276,2011-11-18 17:01:00,21,3,3.233600e+02,4,3,2,2.5,432,United Kingdom
4323,18277,2011-10-12 15:22:00,58,2,9.763000e+01,3,2,1,1.5,321,United Kingdom
4324,18278,2011-09-27 11:58:00,73,1,1.739000e+02,2,1,1,1.0,211,United Kingdom
4325,18280,2011-03-07 09:52:00,277,1,1.806000e+02,1,1,1,1.0,111,United Kingdom
4326,18281,2011-06-12 10:53:00,180,1,8.082000e+01,1,1,1,1.0,111,United Kingdom
4327,18282,2011-12-02 11:43:00,7,3,1.766000e+02,5,3,1,2.0,531,United Kingdom
4328,18283,2011-12-06 12:02:00,3,16,2.094880e+03,5,5,5,5.0,555,United Kingdom
4329,18287,2011-10-28 09:29:00,42,3,1.837280e+03,3,3,4,3.5,334,United Kingdom

In [38]:
newRFM = pd.DataFrame()

In [107]:
import numpy as np
def customersec(x):
    if ((x['R_Quartile'] in range(4,6)) & (x['FM_Quartile'] in np.arange(4,5.5,0.5) )):
        x['Segmentation'] = 'Champions'
        df2 = pd.DataFrame([[x['CustomerID'], x['InvoiceDate'], x['recency'], x['Frequency'], x['Monetary'], x['R_Quartile'], x['F_Quartile'], x['M_Quartile'], x['FM_Quartile'], x['RFM_Score'], x['Country'], x['Segmentation']]], columns=['CustomerID', 'InvoiceDate', 'recency', 'Frequency', 'Monetary', 'R_Quartile', 'F_Quartile', 'M_Quartile', 'FM_Quartile', 'RFM_Score', 'Country', 'Segmentation'])
        return df2
    else:
        return pd.DataFrame()
        #newRFM.append(df2)

In [108]:
df2

Empty DataFrame
Columns: []
Index: []

In [109]:
newrfm123 = rfm.loc[:20,:].apply(customersec,axis =1)

In [83]:
rfm.head(20)

,CustomerID,InvoiceDate,recency,Frequency,Monetary,R_Quartile,F_Quartile,M_Quartile,FM_Quartile,RFM_Score,Country,Segmentation
0,12347,2011-12-07 15:52:00,2,7,4310.00,5,4,5,4.5,545,Iceland,Champion
1,12348,2011-09-25 13:13:00,75,4,1797.24,2,3,4,3.5,234,Finland,Loyal Customers
2,12349,2011-11-21 09:51:00,18,1,1757.55,4,1,4,2.5,414,Italy,Potential Loyalist
3,12350,2011-02-02 16:01:00,310,1,334.40,1,1,2,1.5,112,Norway,Hibernating
4,12352,2011-11-03 14:37:00,36,11,1545.41,3,5,4,4.5,354,Norway,Loyal Customers
5,12353,2011-05-19 17:47:00,204,1,89.00,1,1,1,1.0,111,Bahrain,Hibernating
6,12354,2011-04-21 13:11:00,232,1,1079.40,1,1,4,2.5,114,Spain,At Risk
7,12355,2011-05-09 13:49:00,214,1,459.40,1,1,2,1.5,112,Bahrain,Hibernating
8,12356,2011-11-17 08:40:00,22,3,2811.43,4,3,5,4.0,435,Portugal,Champion
9,12357,2011-11-06 16:07:00,33,1,6207.67,3,1,5,3.0,315,Switzerland,Loyal Customers
10,12358,2011-12-08 10:26:00,1,2,1168.06,5,2,4,3.0,524,Austria,Loyal Customers
11,12359,2011-12-02 11:21:00,7,6,6245.53,5,4,5,4.5,545,Cyprus,Champion
12,12360,2011-10-18 15:22:00,52,3,2662.06,3,3,5,4.0,335,Austria,Loyal Customers
13,12361,2011-02-25 13:51:00,287,1,189.90,1,1,1,1.0,111,Belgium,Hibernating
14,12362,2011-12-06 15:40:00,3,13,5154.58,5,5,5,5.0,555,Belgium,Champion
15,12363,2011-08-22 10:18:00,109,2,552.00,2,2,3,2.5,223,Unspecified,Customers Needing Attention
16,12364,2011-12-02 10:22:00,7,4,1313.10,5,3,4,3.5,534,Belgium,Loyal Customers
17,12365,2011-02-21 14:04:00,291,3,320.69,1,3,2,2.5,132,Cyprus,At Risk
18,12367,2011-12-05 16:48:00,4,1,168.90,5,1,1,1.0,511,Denmark,Potential Loyalist
19,12370,2011-10-19 14:51:00,51,4,3545.69,3,3,5,4.0,335,Cyprus,Loyal Customers

In [112]:
newrfm123.dropna

0        CustomerID         InvoiceDate  recency  Fr...
1                 Empty DataFrame
Columns: []
Index: []
2                 Empty DataFrame
Columns: []
Index: []
3                 Empty DataFrame
Columns: []
Index: []
4                 Empty DataFrame
Columns: []
Index: []
5                 Empty DataFrame
Columns: []
Index: []
6                 Empty DataFrame
Columns: []
Index: []
7                 Empty DataFrame
Columns: []
Index: []
8        CustomerID         InvoiceDate  recency  Fr...
9                 Empty DataFrame
Columns: []
Index: []
10                Empty DataFrame
Columns: []
Index: []
11       CustomerID         InvoiceDate  recency  Fr...
12                Empty DataFrame
Columns: []
Index: []
13                Empty DataFrame
Columns: []
Index: []
14       CustomerID         InvoiceDate  recency  Fr...
15                Empty DataFrame
Columns: []
Index: []
16                Empty DataFrame
Columns: []
Index: []
17                Empty DataFrame
Columns: []
Index: []
18                Empty DataFrame
Columns: []
Index: []
19                Empty DataFrame
Columns: []
Index: []
20                Empty DataFrame
Columns: []
Index: []
dtype: object