In [1]:
import pandas as pd

In [2]:
cs = pd.read_csv(R"A:\Hari\customer\cs.csv")
cs

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,12/1/2010 8:34,4.95,13047.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,12/1/2010 8:34,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,12/1/2010 8:34,5.95,13047.0,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,12/1/2010 8:34,5.95,13047.0,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,12/1/2010 8:34,7.95,13047.0,United Kingdom
20,536367,48187,DOORMAT NEW ENGLAND,4,12/1/2010 8:34,7.95,13047.0,United Kingdom
21,536368,22960,JAM MAKING SET WITH JARS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom
22,536368,22913,RED COAT RACK PARIS FASHION,3,12/1/2010 8:34,4.95,13047.0,United Kingdom
23,536368,22912,YELLOW COAT RACK PARIS FASHION,3,12/1/2010 8:34,4.95,13047.0,United Kingdom
24,536368,22914,BLUE COAT RACK PARIS FASHION,3,12/1/2010 8:34,4.95,13047.0,United Kingdom
25,536369,21756,BATH BUILDING BLOCK WORD,3,12/1/2010 8:35,5.95,13047.0,United Kingdom
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,12/1/2010 8:45,3.75,12583.0,France
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,12/1/2010 8:45,3.75,12583.0,France
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,12/1/2010 8:45,3.75,12583.0,France
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,12/1/2010 8:45,0.85,12583.0,France
...,...,...,...,...,...,...,...,...
541879,581585,22726,ALARM CLOCK BAKELIKE GREEN,8,12/9/2011 12:31,3.75,15804.0,United Kingdom
541880,581585,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:31,3.75,15804.0,United Kingdom
541881,581585,16016,LARGE CHINESE STYLE SCISSOR,10,12/9/2011 12:31,0.85,15804.0,United Kingdom
541882,581585,21916,SET 12 RETRO WHITE CHALK STICKS,24,12/9/2011 12:31,0.42,15804.0,United Kingdom
541883,581585,84692,BOX OF 24 COCKTAIL PARASOLS,25,12/9/2011 12:31,0.42,15804.0,United Kingdom
541884,581585,84946,ANTIQUE SILVER T-LIGHT GLASS,12,12/9/2011 12:31,1.25,15804.0,United Kingdom
541885,581585,21684,SMALL MEDINA STAMPED METAL BOWL,12,12/9/2011 12:31,0.85,15804.0,United Kingdom
541886,581585,22398,MAGNETS PACK OF 4 SWALLOWS,12,12/9/2011 12:31,0.39,15804.0,United Kingdom
541887,581585,23328,SET 6 SCHOOL MILK BOTTLES IN CRATE,4,12/9/2011 12:31,3.75,15804.0,United Kingdom
541888,581585,23145,ZINC T-LIGHT HOLDER STAR LARGE,12,12/9/2011 12:31,0.95,15804.0,United Kingdom
541889,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,12/9/2011 12:31,1.95,15804.0,United Kingdom
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,12/9/2011 12:49,2.95,13113.0,United Kingdom
541891,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,12/9/2011 12:49,1.25,13113.0,United Kingdom
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,12/9/2011 12:49,8.95,13113.0,United Kingdom
541893,581586,20685,DOORMAT RED RETROSPOT,10,12/9/2011 12:49,7.08,13113.0,United Kingdom
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/9/2011 12:50,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/2011 12:50,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,12/9/2011 12:50,3.75,12680.0,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:50,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [3]:
cs = cs[cs.UnitPrice <= 0]

In [4]:
cs.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [5]:
cs.shape

(541909, 8)

In [6]:
cs.CustomerID.nunique()

4372

In [7]:
import datetime as dt
reference = dt.date(2011,9,10)
print(dt.date(2011,9,10))

2011-09-10

In [8]:
cs['InvoiceDate']  = pd.to_datetime(cs['InvoiceDate'],infer_datetime_format="MM/DD/YY")

In [9]:
rfm = cs.groupby(['CustomerID'],as_index=False)['InvoiceDate'].agg('max')
rfm

      CustomerID         InvoiceDate
0        12346.0 2011-01-18 10:17:00
1        12347.0 2011-12-07 15:52:00
2        12348.0 2011-09-25 13:13:00
3        12349.0 2011-11-21 09:51:00
4        12350.0 2011-02-02 16:01:00
5        12352.0 2011-11-03 14:37:00
6        12353.0 2011-05-19 17:47:00
7        12354.0 2011-04-21 13:11:00
8        12355.0 2011-05-09 13:49:00
9        12356.0 2011-11-17 08:40:00
10       12357.0 2011-11-06 16:07:00
11       12358.0 2011-12-08 10:26:00
12       12359.0 2011-12-02 11:21:00
13       12360.0 2011-10-18 15:22:00
14       12361.0 2011-02-25 13:51:00
15       12362.0 2011-12-06 15:40:00
16       12363.0 2011-08-22 10:18:00
17       12364.0 2011-12-02 10:22:00
18       12365.0 2011-02-21 14:04:00
19       12367.0 2011-12-05 16:48:00
20       12370.0 2011-10-19 14:51:00
21       12371.0 2011-10-26 10:16:00
22       12372.0 2011-09-29 12:12:00
23       12373.0 2011-02-01 13:10:00
24       12374.0 2011-11-14 15:37:00
25       12375.0 2011-12-07 11:27:00
26       12377.0 2011-01-28 15:45:00
27       12378.0 2011-08-02 10:34:00
28       12379.0 2011-09-19 10:09:00
29       12380.0 2011-11-18 11:27:00
...          ...                 ...
4342     18245.0 2011-12-02 14:48:00
4343     18246.0 2011-11-16 11:49:00
4344     18248.0 2011-08-18 06:14:00
4345     18249.0 2011-11-22 15:07:00
4346     18250.0 2011-02-11 13:59:00
4347     18251.0 2011-09-13 15:03:00
4348     18252.0 2011-10-20 12:43:00
4349     18255.0 2011-09-11 13:16:00
4350     18256.0 2010-12-20 08:27:00
4351     18257.0 2011-10-31 14:48:00
4352     18259.0 2011-11-15 12:34:00
4353     18260.0 2011-06-20 12:37:00
4354     18261.0 2011-10-27 15:36:00
4355     18262.0 2011-07-22 16:04:00
4356     18263.0 2011-11-16 16:19:00
4357     18265.0 2011-09-28 14:10:00
4358     18268.0 2011-07-28 19:13:00
4359     18269.0 2010-12-16 15:39:00
4360     18270.0 2011-11-01 13:57:00
4361     18272.0 2011-12-07 12:43:00
4362     18273.0 2011-12-07 13:16:00
4363     18274.0 2011-11-22 10:18:00
4364     18276.0 2011-11-18 17:01:00
4365     18277.0 2011-10-12 15:22:00
4366     18278.0 2011-09-27 11:58:00
4367     18280.0 2011-03-07 09:52:00
4368     18281.0 2011-06-12 10:53:00
4369     18282.0 2011-12-02 11:43:00
4370     18283.0 2011-12-06 12:02:00
4371     18287.0 2011-10-28 09:29:00

[4372 rows x 2 columns]

In [10]:
rfm.dtypes

CustomerID            float64
InvoiceDate    datetime64[ns]
dtype: object

In [11]:
rfm.InvoiceDate.max()

Timestamp('2011-12-09 12:50:00')

In [12]:
rfm.InvoiceDate.min()

Timestamp('2010-12-01 09:53:00')

In [13]:
rfm.dtypes

CustomerID            float64
InvoiceDate    datetime64[ns]
dtype: object

In [14]:
reference = dt.datetime(2011,12,10)
reference

datetime.datetime(2011, 12, 10, 0, 0)

In [15]:
rfm['recency'] =  rfm.InvoiceDate.apply(lambda x: (reference -x).days )
rfm

      CustomerID         InvoiceDate  recency
0        12346.0 2011-01-18 10:17:00      325
1        12347.0 2011-12-07 15:52:00        2
2        12348.0 2011-09-25 13:13:00       75
3        12349.0 2011-11-21 09:51:00       18
4        12350.0 2011-02-02 16:01:00      310
5        12352.0 2011-11-03 14:37:00       36
6        12353.0 2011-05-19 17:47:00      204
7        12354.0 2011-04-21 13:11:00      232
8        12355.0 2011-05-09 13:49:00      214
9        12356.0 2011-11-17 08:40:00       22
10       12357.0 2011-11-06 16:07:00       33
11       12358.0 2011-12-08 10:26:00        1
12       12359.0 2011-12-02 11:21:00        7
13       12360.0 2011-10-18 15:22:00       52
14       12361.0 2011-02-25 13:51:00      287
15       12362.0 2011-12-06 15:40:00        3
16       12363.0 2011-08-22 10:18:00      109
17       12364.0 2011-12-02 10:22:00        7
18       12365.0 2011-02-21 14:04:00      291
19       12367.0 2011-12-05 16:48:00        4
20       12370.0 2011-10-19 14:51:00       51
21       12371.0 2011-10-26 10:16:00       44
22       12372.0 2011-09-29 12:12:00       71
23       12373.0 2011-02-01 13:10:00      311
24       12374.0 2011-11-14 15:37:00       25
25       12375.0 2011-12-07 11:27:00        2
26       12377.0 2011-01-28 15:45:00      315
27       12378.0 2011-08-02 10:34:00      129
28       12379.0 2011-09-19 10:09:00       81
29       12380.0 2011-11-18 11:27:00       21
...          ...                 ...      ...
4342     18245.0 2011-12-02 14:48:00        7
4343     18246.0 2011-11-16 11:49:00       23
4344     18248.0 2011-08-18 06:14:00      113
4345     18249.0 2011-11-22 15:07:00       17
4346     18250.0 2011-02-11 13:59:00      301
4347     18251.0 2011-09-13 15:03:00       87
4348     18252.0 2011-10-20 12:43:00       50
4349     18255.0 2011-09-11 13:16:00       89
4350     18256.0 2010-12-20 08:27:00      354
4351     18257.0 2011-10-31 14:48:00       39
4352     18259.0 2011-11-15 12:34:00       24
4353     18260.0 2011-06-20 12:37:00      172
4354     18261.0 2011-10-27 15:36:00       43
4355     18262.0 2011-07-22 16:04:00      140
4356     18263.0 2011-11-16 16:19:00       23
4357     18265.0 2011-09-28 14:10:00       72
4358     18268.0 2011-07-28 19:13:00      134
4359     18269.0 2010-12-16 15:39:00      358
4360     18270.0 2011-11-01 13:57:00       38
4361     18272.0 2011-12-07 12:43:00        2
4362     18273.0 2011-12-07 13:16:00        2
4363     18274.0 2011-11-22 10:18:00       17
4364     18276.0 2011-11-18 17:01:00       21
4365     18277.0 2011-10-12 15:22:00       58
4366     18278.0 2011-09-27 11:58:00       73
4367     18280.0 2011-03-07 09:52:00      277
4368     18281.0 2011-06-12 10:53:00      180
4369     18282.0 2011-12-02 11:43:00        7
4370     18283.0 2011-12-06 12:02:00        3
4371     18287.0 2011-10-28 09:29:00       42

[4372 rows x 3 columns]

In [16]:
csf = cs.drop_duplicates(['CustomerID','InvoiceNo'])

In [17]:
frequency = csf.groupby(['CustomerID'],as_index=False)['InvoiceNo'].count()
frequency

      CustomerID  InvoiceNo
0        12346.0          2
1        12347.0          7
2        12348.0          4
3        12349.0          1
4        12350.0          1
5        12352.0         11
6        12353.0          1
7        12354.0          1
8        12355.0          1
9        12356.0          3
10       12357.0          1
11       12358.0          2
12       12359.0          6
13       12360.0          3
14       12361.0          1
15       12362.0         13
16       12363.0          2
17       12364.0          4
18       12365.0          3
19       12367.0          1
20       12370.0          4
21       12371.0          2
22       12372.0          3
23       12373.0          1
24       12374.0          1
25       12375.0          3
26       12377.0          2
27       12378.0          1
28       12379.0          3
29       12380.0          5
...          ...        ...
4342     18245.0          8
4343     18246.0          2
4344     18248.0          4
4345     18249.0          1
4346     18250.0          2
4347     18251.0          1
4348     18252.0          2
4349     18255.0          1
4350     18256.0          1
4351     18257.0         12
4352     18259.0          3
4353     18260.0          8
4354     18261.0          2
4355     18262.0          1
4356     18263.0          4
4357     18265.0          2
4358     18268.0          2
4359     18269.0          2
4360     18270.0          3
4361     18272.0          7
4362     18273.0          3
4363     18274.0          2
4364     18276.0          3
4365     18277.0          2
4366     18278.0          1
4367     18280.0          1
4368     18281.0          1
4369     18282.0          3
4370     18283.0         16
4371     18287.0          3

[4372 rows x 2 columns]

In [18]:
cs[cs.CustomerID == 12353.0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
197371,553900,37449,CERAMIC CAKE STAND + HANGING CAKES,2,2011-05-19 17:47:00,9.95,12353.0,Bahrain
197372,553900,37446,MINI CAKE STAND WITH HANGING CAKES,8,2011-05-19 17:47:00,1.45,12353.0,Bahrain
197373,553900,22890,NOVELTY BISCUITS CAKE STAND 3 TIER,4,2011-05-19 17:47:00,9.95,12353.0,Bahrain
197374,553900,37450,CERAMIC CAKE BOWL + HANGING CAKES,6,2011-05-19 17:47:00,2.95,12353.0,Bahrain

In [19]:
rfm = rfm.merge(frequency,on = 'CustomerID').rename(columns = {'InvoiceNo':'Frequency'})
rfm

      CustomerID         InvoiceDate  recency  Frequency
0        12346.0 2011-01-18 10:17:00      325          2
1        12347.0 2011-12-07 15:52:00        2          7
2        12348.0 2011-09-25 13:13:00       75          4
3        12349.0 2011-11-21 09:51:00       18          1
4        12350.0 2011-02-02 16:01:00      310          1
5        12352.0 2011-11-03 14:37:00       36         11
6        12353.0 2011-05-19 17:47:00      204          1
7        12354.0 2011-04-21 13:11:00      232          1
8        12355.0 2011-05-09 13:49:00      214          1
9        12356.0 2011-11-17 08:40:00       22          3
10       12357.0 2011-11-06 16:07:00       33          1
11       12358.0 2011-12-08 10:26:00        1          2
12       12359.0 2011-12-02 11:21:00        7          6
13       12360.0 2011-10-18 15:22:00       52          3
14       12361.0 2011-02-25 13:51:00      287          1
15       12362.0 2011-12-06 15:40:00        3         13
16       12363.0 2011-08-22 10:18:00      109          2
17       12364.0 2011-12-02 10:22:00        7          4
18       12365.0 2011-02-21 14:04:00      291          3
19       12367.0 2011-12-05 16:48:00        4          1
20       12370.0 2011-10-19 14:51:00       51          4
21       12371.0 2011-10-26 10:16:00       44          2
22       12372.0 2011-09-29 12:12:00       71          3
23       12373.0 2011-02-01 13:10:00      311          1
24       12374.0 2011-11-14 15:37:00       25          1
25       12375.0 2011-12-07 11:27:00        2          3
26       12377.0 2011-01-28 15:45:00      315          2
27       12378.0 2011-08-02 10:34:00      129          1
28       12379.0 2011-09-19 10:09:00       81          3
29       12380.0 2011-11-18 11:27:00       21          5
...          ...                 ...      ...        ...
4342     18245.0 2011-12-02 14:48:00        7          8
4343     18246.0 2011-11-16 11:49:00       23          2
4344     18248.0 2011-08-18 06:14:00      113          4
4345     18249.0 2011-11-22 15:07:00       17          1
4346     18250.0 2011-02-11 13:59:00      301          2
4347     18251.0 2011-09-13 15:03:00       87          1
4348     18252.0 2011-10-20 12:43:00       50          2
4349     18255.0 2011-09-11 13:16:00       89          1
4350     18256.0 2010-12-20 08:27:00      354          1
4351     18257.0 2011-10-31 14:48:00       39         12
4352     18259.0 2011-11-15 12:34:00       24          3
4353     18260.0 2011-06-20 12:37:00      172          8
4354     18261.0 2011-10-27 15:36:00       43          2
4355     18262.0 2011-07-22 16:04:00      140          1
4356     18263.0 2011-11-16 16:19:00       23          4
4357     18265.0 2011-09-28 14:10:00       72          2
4358     18268.0 2011-07-28 19:13:00      134          2
4359     18269.0 2010-12-16 15:39:00      358          2
4360     18270.0 2011-11-01 13:57:00       38          3
4361     18272.0 2011-12-07 12:43:00        2          7
4362     18273.0 2011-12-07 13:16:00        2          3
4363     18274.0 2011-11-22 10:18:00       17          2
4364     18276.0 2011-11-18 17:01:00       21          3
4365     18277.0 2011-10-12 15:22:00       58          2
4366     18278.0 2011-09-27 11:58:00       73          1
4367     18280.0 2011-03-07 09:52:00      277          1
4368     18281.0 2011-06-12 10:53:00      180          1
4369     18282.0 2011-12-02 11:43:00        7          3
4370     18283.0 2011-12-06 12:02:00        3         16
4371     18287.0 2011-10-28 09:29:00       42          3

[4372 rows x 4 columns]

In [20]:
cs['Amount'] = cs['Quantity'] * cs['UnitPrice']
cs

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Amount
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom,15.30
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom,25.50
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom,11.10
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom,11.10
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom,54.08
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom,12.60
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom,12.60
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom,30.00
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom,9.90
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom,25.50
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,14.85
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047.0,United Kingdom,19.90
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom,17.85
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom,17.85
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom,31.80
20,536367,48187,DOORMAT NEW ENGLAND,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom,31.80
21,536368,22960,JAM MAKING SET WITH JARS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom,25.50
22,536368,22913,RED COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,14.85
23,536368,22912,YELLOW COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,14.85
24,536368,22914,BLUE COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,14.85
25,536369,21756,BATH BUILDING BLOCK WORD,3,2010-12-01 08:35:00,5.95,13047.0,United Kingdom,17.85
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France,90.00
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583.0,France,90.00
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France,45.00
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,2010-12-01 08:45:00,0.85,12583.0,France,10.20
...,...,...,...,...,...,...,...,...,...
541879,581585,22726,ALARM CLOCK BAKELIKE GREEN,8,2011-12-09 12:31:00,3.75,15804.0,United Kingdom,30.00
541880,581585,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:31:00,3.75,15804.0,United Kingdom,15.00
541881,581585,16016,LARGE CHINESE STYLE SCISSOR,10,2011-12-09 12:31:00,0.85,15804.0,United Kingdom,8.50
541882,581585,21916,SET 12 RETRO WHITE CHALK STICKS,24,2011-12-09 12:31:00,0.42,15804.0,United Kingdom,10.08
541883,581585,84692,BOX OF 24 COCKTAIL PARASOLS,25,2011-12-09 12:31:00,0.42,15804.0,United Kingdom,10.50
541884,581585,84946,ANTIQUE SILVER T-LIGHT GLASS,12,2011-12-09 12:31:00,1.25,15804.0,United Kingdom,15.00
541885,581585,21684,SMALL MEDINA STAMPED METAL BOWL,12,2011-12-09 12:31:00,0.85,15804.0,United Kingdom,10.20
541886,581585,22398,MAGNETS PACK OF 4 SWALLOWS,12,2011-12-09 12:31:00,0.39,15804.0,United Kingdom,4.68
541887,581585,23328,SET 6 SCHOOL MILK BOTTLES IN CRATE,4,2011-12-09 12:31:00,3.75,15804.0,United Kingdom,15.00
541888,581585,23145,ZINC T-LIGHT HOLDER STAR LARGE,12,2011-12-09 12:31:00,0.95,15804.0,United Kingdom,11.40
541889,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,2011-12-09 12:31:00,1.95,15804.0,United Kingdom,23.40
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,2011-12-09 12:49:00,2.95,13113.0,United Kingdom,23.60
541891,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,2011-12-09 12:49:00,1.25,13113.0,United Kingdom,30.00
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113.0,United Kingdom,214.80
541893,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113.0,United Kingdom,70.80
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France,23.40
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680.0,France,19.80
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680.0,France,19.80
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,2011-12-09 12:50:00,3.75,12680.0,France,15.00
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:50:00,3.75,12680.0,France,15.00
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,2011-12-09 12:50:00,3.75,12680.0,France,15.00
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680.0,France,15.00
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,2011-12-09 12:50:00,1.95,12680.0,France,15.60
541902,581587,22629,SPACEBOY LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France,23.40
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85

In [21]:
monetary = cs.groupby(['CustomerID'],as_index=False)['Amount'].sum().rename(columns={'Amount':'Monetary'})
monetary

      CustomerID      Monetary
0        12346.0  0.000000e+00
1        12347.0  4.310000e+03
2        12348.0  1.797240e+03
3        12349.0  1.757550e+03
4        12350.0  3.344000e+02
5        12352.0  1.545410e+03
6        12353.0  8.900000e+01
7        12354.0  1.079400e+03
8        12355.0  4.594000e+02
9        12356.0  2.811430e+03
10       12357.0  6.207670e+03
11       12358.0  1.168060e+03
12       12359.0  6.245530e+03
13       12360.0  2.662060e+03
14       12361.0  1.899000e+02
15       12362.0  5.154580e+03
16       12363.0  5.520000e+02
17       12364.0  1.313100e+03
18       12365.0  3.206900e+02
19       12367.0  1.689000e+02
20       12370.0  3.545690e+03
21       12371.0  1.887960e+03
22       12372.0  1.298040e+03
23       12373.0  3.646000e+02
24       12374.0  7.429300e+02
25       12375.0  4.554200e+02
26       12377.0  1.628120e+03
27       12378.0  4.008620e+03
28       12379.0  8.502900e+02
29       12380.0  2.720560e+03
...          ...           ...
4342     18245.0  2.507560e+03
4343     18246.0  5.961000e+02
4344     18248.0  7.830200e+02
4345     18249.0  9.534000e+01
4346     18250.0  3.429200e+02
4347     18251.0  4.314720e+03
4348     18252.0  5.266700e+02
4349     18255.0  1.033000e+02
4350     18256.0 -5.010000e+01
4351     18257.0  2.265380e+03
4352     18259.0  2.338600e+03
4353     18260.0  2.595000e+03
4354     18261.0  3.242400e+02
4355     18262.0  1.494800e+02
4356     18263.0  1.211080e+03
4357     18265.0  8.015100e+02
4358     18268.0  0.000000e+00
4359     18269.0  1.389000e+02
4360     18270.0  2.389500e+02
4361     18272.0  3.064780e+03
4362     18273.0  2.040000e+02
4363     18274.0  1.243450e-14
4364     18276.0  3.233600e+02
4365     18277.0  9.763000e+01
4366     18278.0  1.739000e+02
4367     18280.0  1.806000e+02
4368     18281.0  8.082000e+01
4369     18282.0  1.766000e+02
4370     18283.0  2.094880e+03
4371     18287.0  1.837280e+03

[4372 rows x 2 columns]

In [22]:
rfm = rfm.merge(monetary,on = 'CustomerID')
rfm

      CustomerID         InvoiceDate  recency  Frequency      Monetary
0        12346.0 2011-01-18 10:17:00      325          2  0.000000e+00
1        12347.0 2011-12-07 15:52:00        2          7  4.310000e+03
2        12348.0 2011-09-25 13:13:00       75          4  1.797240e+03
3        12349.0 2011-11-21 09:51:00       18          1  1.757550e+03
4        12350.0 2011-02-02 16:01:00      310          1  3.344000e+02
5        12352.0 2011-11-03 14:37:00       36         11  1.545410e+03
6        12353.0 2011-05-19 17:47:00      204          1  8.900000e+01
7        12354.0 2011-04-21 13:11:00      232          1  1.079400e+03
8        12355.0 2011-05-09 13:49:00      214          1  4.594000e+02
9        12356.0 2011-11-17 08:40:00       22          3  2.811430e+03
10       12357.0 2011-11-06 16:07:00       33          1  6.207670e+03
11       12358.0 2011-12-08 10:26:00        1          2  1.168060e+03
12       12359.0 2011-12-02 11:21:00        7          6  6.245530e+03
13       12360.0 2011-10-18 15:22:00       52          3  2.662060e+03
14       12361.0 2011-02-25 13:51:00      287          1  1.899000e+02
15       12362.0 2011-12-06 15:40:00        3         13  5.154580e+03
16       12363.0 2011-08-22 10:18:00      109          2  5.520000e+02
17       12364.0 2011-12-02 10:22:00        7          4  1.313100e+03
18       12365.0 2011-02-21 14:04:00      291          3  3.206900e+02
19       12367.0 2011-12-05 16:48:00        4          1  1.689000e+02
20       12370.0 2011-10-19 14:51:00       51          4  3.545690e+03
21       12371.0 2011-10-26 10:16:00       44          2  1.887960e+03
22       12372.0 2011-09-29 12:12:00       71          3  1.298040e+03
23       12373.0 2011-02-01 13:10:00      311          1  3.646000e+02
24       12374.0 2011-11-14 15:37:00       25          1  7.429300e+02
25       12375.0 2011-12-07 11:27:00        2          3  4.554200e+02
26       12377.0 2011-01-28 15:45:00      315          2  1.628120e+03
27       12378.0 2011-08-02 10:34:00      129          1  4.008620e+03
28       12379.0 2011-09-19 10:09:00       81          3  8.502900e+02
29       12380.0 2011-11-18 11:27:00       21          5  2.720560e+03
...          ...                 ...      ...        ...           ...
4342     18245.0 2011-12-02 14:48:00        7          8  2.507560e+03
4343     18246.0 2011-11-16 11:49:00       23          2  5.961000e+02
4344     18248.0 2011-08-18 06:14:00      113          4  7.830200e+02
4345     18249.0 2011-11-22 15:07:00       17          1  9.534000e+01
4346     18250.0 2011-02-11 13:59:00      301          2  3.429200e+02
4347     18251.0 2011-09-13 15:03:00       87          1  4.314720e+03
4348     18252.0 2011-10-20 12:43:00       50          2  5.266700e+02
4349     18255.0 2011-09-11 13:16:00       89          1  1.033000e+02
4350     18256.0 2010-12-20 08:27:00      354          1 -5.010000e+01
4351     18257.0 2011-10-31 14:48:00       39         12  2.265380e+03
4352     18259.0 2011-11-15 12:34:00       24          3  2.338600e+03
4353     18260.0 2011-06-20 12:37:00      172          8  2.595000e+03
4354     18261.0 2011-10-27 15:36:00       43          2  3.242400e+02
4355     18262.0 2011-07-22 16:04:00      140          1  1.494800e+02
4356     18263.0 2011-11-16 16:19:00       23          4  1.211080e+03
4357     18265.0 2011-09-28 14:10:00       72          2  8.015100e+02
4358     18268.0 2011-07-28 19:13:00      134          2  0.000000e+00
4359     18269.0 2010-12-16 15:39:00      358          2  1.389000e+02
4360     18270.0 2011-11-01 13:57:00       38          3  2.389500e+02
4361     18272.0 2011-12-07 12:43:00        2          7  3.064780e+03
4362     18273.0 2011-12-07 13:16:00        2          3  2.040000e+02
4363     18274.0 2011-11-22 10:18:00       17          2  1.243450e-14
4364     18276.0 2011-11-18 17:01:00       21          3  3.233600e+02
4365     18277.0 2011-10-12 15:22:00       58          2  9.763000e+01
4366     18278.0 2011-09-27 11:58:00       73          1  1.739000e+02
4367     18280.0 2011-03-07 09:52:00      277          1  1.806000e+02
4368     18281.0 2011-06-12 10:53:00      180          1  8.082000e+01
4369     18282.0 2011-12-02 11:43:00        7          3  1.766000e+02
4370     18283.0 2011-12-06 12:02:00        3         16  2.094880e+03
4371     18287.0 2011-10-28 09:29:00       42          3  1.837280e+03

[4372 rows x 5 columns]

In [23]:
cs[cs.CustomerID == 12356.0]['InvoiceNo'].value_counts()

541430    36
549435    21
576895     2
Name: InvoiceNo, dtype: int64

In [24]:
quantiles = rfm.quantile(q=[0.25,0.50,0.75])
quantiles

      CustomerID  recency  Frequency   Monetary
0.25    13812.75     16.0        1.0   293.3625
0.50    15300.50     50.0        3.0   648.0750
0.75    16778.25    143.0        5.0  1611.7250

In [25]:
d = quantiles.to_dict()
d

{'CustomerID': {0.25: 13812.75, 0.5: 15300.5, 0.75: 16778.25},
 'recency': {0.25: 16.0, 0.5: 50.0, 0.75: 143.0},
 'Frequency': {0.25: 1.0, 0.5: 3.0, 0.75: 5.0},
 'Monetary': {0.25: 293.36250000000007,
  0.5: 648.0750000000002,
  0.75: 1611.7249999999995}}

In [26]:
def RScore(x,p,d):
    if x <= d[p][0.25]:
        return 4
    elif x <= d[p][0.50]:
        return 3
    elif x <= d[p][0.75]: 
        return 2
    else:
        return 1

In [27]:
def FMScore(x,p,d):
     if x <= d[p][0.25]:
        return 1
     elif x <= d[p][0.50]:
        return 2
     elif x <= d[p][0.75]: 
        return 3
     else:
        return 4

In [122]:
rfm['R_Quartile'] = rfm['recency'].apply(RScore, args=('recency',d,))
rfm['F_Quartile'] = rfm['Frequency'].apply(FMScore, args=('Frequency',d,))
rfm['M_Quartile'] = rfm['Monetary'].apply(FMScore, args=('Monetary',d,))
rfm

,CustomerID,InvoiceDate,recency,Frequency,Monetary,R_Quartile,F_Quartile,M_Quartile
0,12346.0,2011-01-18 10:17:00,325,2,0.000000e+00,1,2,1
1,12347.0,2011-12-07 15:52:00,2,7,4.310000e+03,4,4,4
2,12348.0,2011-09-25 13:13:00,75,4,1.797240e+03,2,3,4
3,12349.0,2011-11-21 09:51:00,18,1,1.757550e+03,3,1,4
4,12350.0,2011-02-02 16:01:00,310,1,3.344000e+02,1,1,2
5,12352.0,2011-11-03 14:37:00,36,11,1.545410e+03,3,4,3
6,12353.0,2011-05-19 17:47:00,204,1,8.900000e+01,1,1,1
7,12354.0,2011-04-21 13:11:00,232,1,1.079400e+03,1,1,3
8,12355.0,2011-05-09 13:49:00,214,1,4.594000e+02,1,1,2
9,12356.0,2011-11-17 08:40:00,22,3,2.811430e+03,3,2,4
10,12357.0,2011-11-06 16:07:00,33,1,6.207670e+03,3,1,4
11,12358.0,2011-12-08 10:26:00,1,2,1.168060e+03,4,2,3
12,12359.0,2011-12-02 11:21:00,7,6,6.245530e+03,4,4,4
13,12360.0,2011-10-18 15:22:00,52,3,2.662060e+03,2,2,4
14,12361.0,2011-02-25 13:51:00,287,1,1.899000e+02,1,1,1
15,12362.0,2011-12-06 15:40:00,3,13,5.154580e+03,4,4,4
16,12363.0,2011-08-22 10:18:00,109,2,5.520000e+02,2,2,2
17,12364.0,2011-12-02 10:22:00,7,4,1.313100e+03,4,3,3
18,12365.0,2011-02-21 14:04:00,291,3,3.206900e+02,1,2,2
19,12367.0,2011-12-05 16:48:00,4,1,1.689000e+02,4,1,1
20,12370.0,2011-10-19 14:51:00,51,4,3.545690e+03,2,3,4
21,12371.0,2011-10-26 10:16:00,44,2,1.887960e+03,3,2,4
22,12372.0,2011-09-29 12:12:00,71,3,1.298040e+03,2,2,3
23,12373.0,2011-02-01 13:10:00,311,1,3.646000e+02,1,1,2
24,12374.0,2011-11-14 15:37:00,25,1,7.429300e+02,3,1,3
25,12375.0,2011-12-07 11:27:00,2,3,4.554200e+02,4,2,2
26,12377.0,2011-01-28 15:45:00,315,2,1.628120e+03,1,2,4
27,12378.0,2011-08-02 10:34:00,129,1,4.008620e+03,2,1,4
28,12379.0,2011-09-19 10:09:00,81,3,8.502900e+02,2,2,3
29,12380.0,2011-11-18 11:27:00,21,5,2.720560e+03,3,3,4
...,...,...,...,...,...,...,...,...
4342,18245.0,2011-12-02 14:48:00,7,8,2.507560e+03,4,4,4
4343,18246.0,2011-11-16 11:49:00,23,2,5.961000e+02,3,2,2
4344,18248.0,2011-08-18 06:14:00,113,4,7.830200e+02,2,3,3
4345,18249.0,2011-11-22 15:07:00,17,1,9.534000e+01,3,1,1
4346,18250.0,2011-02-11 13:59:00,301,2,3.429200e+02,1,2,2
4347,18251.0,2011-09-13 15:03:00,87,1,4.314720e+03,2,1,4
4348,18252.0,2011-10-20 12:43:00,50,2,5.266700e+02,3,2,2
4349,18255.0,2011-09-11 13:16:00,89,1,1.033000e+02,2,1,1
4350,18256.0,2010-12-20 08:27:00,354,1,-5.010000e+01,1,1,1
4351,18257.0,2011-10-31 14:48:00,39,12,2.265380e+03,3,4,4
4352,18259.0,2011-11-15 12:34:00,24,3,2.338600e+03,3,2,4
4353,18260.0,2011-06-20 12:37:00,172,8,2.595000e+03,1,4,4
4354,18261.0,2011-10-27 15:36:00,43,2,3.242400e+02,3,2,2
4355,18262.0,2011-07-22 16:04:00,140,1,1.494800e+02,2,1,1
4356,18263.0,2011-11-16 16:19:00,23,4,1.211080e+03,3,3,3
4357,18265.0,2011-09-28 14:10:00,72,2,8.015100e+02,2,2,3
4358,18268.0,2011-07-28 19:13:00,134,2,0.000000e+00,2,2,1
4359,18269.0,2010-12-16 15:39:00,358,2,1.389000e+02,1,2,1
4360,18270.0,2011-11-01 13:57:00,38,3,2.389500e+02,3,2,1
4361,18272.0,2011-12-07 12:43:00,2,7,3.064780e+03,4,4,4
4362,18273.0,2011-12-07 13:16:00,2,3,2.040000e+02,4,2,1
4363,18274.0,2011-11-22 10:18:00,17,2,1.243450e-14,3,2,1
4364,18276.0,2011-11-18 17:01:00,21,3,3.233600e+02,3,2,2
4365,18277.0,2011-10-12 15:22:00,58,2,9.763000e+01,2,2,1
4366,18278.0,2011-09-27 11:58:00,73,1,1.739000e+02,2,1,1
4367,18280.0,2011-03-07 09:52:00,277,1,1.806000e+02,1,1,1
4368,18281.0,2011-06-12 10:53:00,180,1,8.082000e+01,1,1,1
4369,18282.0,2011-12-02 11:43:00,7,3,1.766000e+02,4,2,1
4370,18283.0,2011-12-06 12:02:00,3,16,2.094880e+03,4,4,4
4371,18287.0,2011-10-28 09:29:00,42,3,1.837280e+03,3,2,4

In [29]:
rfm['FM_Quartile'] = (rfm['F_Quartile'] + rfm['M_Quartile']) / 2
rfm

,CustomerID,InvoiceDate,recency,Frequency,Monetary,R_Quartile,F_Quartile,M_Quartile,FM_Quartile
0,12346.0,2011-01-18 10:17:00,325,2,0.000000e+00,1,2,1,1.5
1,12347.0,2011-12-07 15:52:00,2,7,4.310000e+03,5,4,5,4.5
2,12348.0,2011-09-25 13:13:00,75,4,1.797240e+03,2,3,4,3.5
3,12349.0,2011-11-21 09:51:00,18,1,1.757550e+03,4,1,4,2.5
4,12350.0,2011-02-02 16:01:00,310,1,3.344000e+02,1,1,2,1.5
5,12352.0,2011-11-03 14:37:00,36,11,1.545410e+03,3,5,4,4.5
6,12353.0,2011-05-19 17:47:00,204,1,8.900000e+01,1,1,1,1.0
7,12354.0,2011-04-21 13:11:00,232,1,1.079400e+03,1,1,4,2.5
8,12355.0,2011-05-09 13:49:00,214,1,4.594000e+02,1,1,2,1.5
9,12356.0,2011-11-17 08:40:00,22,3,2.811430e+03,4,3,5,4.0
10,12357.0,2011-11-06 16:07:00,33,1,6.207670e+03,3,1,5,3.0
11,12358.0,2011-12-08 10:26:00,1,2,1.168060e+03,5,2,4,3.0
12,12359.0,2011-12-02 11:21:00,7,6,6.245530e+03,5,4,5,4.5
13,12360.0,2011-10-18 15:22:00,52,3,2.662060e+03,3,3,5,4.0
14,12361.0,2011-02-25 13:51:00,287,1,1.899000e+02,1,1,1,1.0
15,12362.0,2011-12-06 15:40:00,3,13,5.154580e+03,5,5,5,5.0
16,12363.0,2011-08-22 10:18:00,109,2,5.520000e+02,2,2,3,2.5
17,12364.0,2011-12-02 10:22:00,7,4,1.313100e+03,5,3,4,3.5
18,12365.0,2011-02-21 14:04:00,291,3,3.206900e+02,1,3,2,2.5
19,12367.0,2011-12-05 16:48:00,4,1,1.689000e+02,5,1,1,1.0
20,12370.0,2011-10-19 14:51:00,51,4,3.545690e+03,3,3,5,4.0
21,12371.0,2011-10-26 10:16:00,44,2,1.887960e+03,3,2,4,3.0
22,12372.0,2011-09-29 12:12:00,71,3,1.298040e+03,3,3,4,3.5
23,12373.0,2011-02-01 13:10:00,311,1,3.646000e+02,1,1,2,1.5
24,12374.0,2011-11-14 15:37:00,25,1,7.429300e+02,4,1,3,2.0
25,12375.0,2011-12-07 11:27:00,2,3,4.554200e+02,5,3,2,2.5
26,12377.0,2011-01-28 15:45:00,315,2,1.628120e+03,1,2,4,3.0
27,12378.0,2011-08-02 10:34:00,129,1,4.008620e+03,2,1,5,3.0
28,12379.0,2011-09-19 10:09:00,81,3,8.502900e+02,2,3,3,3.0
29,12380.0,2011-11-18 11:27:00,21,5,2.720560e+03,4,4,5,4.5
...,...,...,...,...,...,...,...,...,...
4342,18245.0,2011-12-02 14:48:00,7,8,2.507560e+03,5,5,5,5.0
4343,18246.0,2011-11-16 11:49:00,23,2,5.961000e+02,4,2,3,2.5
4344,18248.0,2011-08-18 06:14:00,113,4,7.830200e+02,2,3,3,3.0
4345,18249.0,2011-11-22 15:07:00,17,1,9.534000e+01,4,1,1,1.0
4346,18250.0,2011-02-11 13:59:00,301,2,3.429200e+02,1,2,2,2.0
4347,18251.0,2011-09-13 15:03:00,87,1,4.314720e+03,2,1,5,3.0
4348,18252.0,2011-10-20 12:43:00,50,2,5.266700e+02,3,2,3,2.5
4349,18255.0,2011-09-11 13:16:00,89,1,1.033000e+02,2,1,1,1.0
4350,18256.0,2010-12-20 08:27:00,354,1,-5.010000e+01,1,1,1,1.0
4351,18257.0,2011-10-31 14:48:00,39,12,2.265380e+03,3,5,5,5.0
4352,18259.0,2011-11-15 12:34:00,24,3,2.338600e+03,4,3,5,4.0
4353,18260.0,2011-06-20 12:37:00,172,8,2.595000e+03,2,5,5,5.0
4354,18261.0,2011-10-27 15:36:00,43,2,3.242400e+02,3,2,2,2.0
4355,18262.0,2011-07-22 16:04:00,140,1,1.494800e+02,2,1,1,1.0
4356,18263.0,2011-11-16 16:19:00,23,4,1.211080e+03,4,3,4,3.5
4357,18265.0,2011-09-28 14:10:00,72,2,8.015100e+02,2,2,3,2.5
4358,18268.0,2011-07-28 19:13:00,134,2,0.000000e+00,2,2,1,1.5
4359,18269.0,2010-12-16 15:39:00,358,2,1.389000e+02,1,2,1,1.5
4360,18270.0,2011-11-01 13:57:00,38,3,2.389500e+02,3,3,2,2.5
4361,18272.0,2011-12-07 12:43:00,2,7,3.064780e+03,5,4,5,4.5
4362,18273.0,2011-12-07 13:16:00,2,3,2.040000e+02,5,3,1,2.0
4363,18274.0,2011-11-22 10:18:00,17,2,1.243450e-14,4,2,1,1.5
4364,18276.0,2011-11-18 17:01:00,21,3,3.233600e+02,4,3,2,2.5
4365,18277.0,2011-10-12 15:22:00,58,2,9.763000e+01,3,2,1,1.5
4366,18278.0,2011-09-27 11:58:00,73,1,1.739000e+02,2,1,1,1.0
4367,18280.0,2011-03-07 09:52:00,277,1,1.806000e+02,1,1,1,1.0
4368,18281.0,2011-06-12 10:53:00,180,1,8.082000e+01,1,1,1,1.0
4369,18282.0,2011-12-02 11:43:00,7,3,1.766000e+02,5,3,1,2.0
4370,18283.0,2011-12-06 12:02:00,3,16,2.094880e+03,5,5,5,5.0
4371,18287.0,2011-10-28 09:29:00,42,3,1.837280e+03,3,3,4,3.5

In [123]:
rfm['RFM_Score'] = rfm['R_Quartile'].map(str) + rfm['F_Quartile'].map(str) + rfm['M_Quartile'].map(str)
rfm

,CustomerID,InvoiceDate,recency,Frequency,Monetary,R_Quartile,F_Quartile,M_Quartile,RFM_Score
0,12346.0,2011-01-18 10:17:00,325,2,0.000000e+00,1,2,1,121
1,12347.0,2011-12-07 15:52:00,2,7,4.310000e+03,4,4,4,444
2,12348.0,2011-09-25 13:13:00,75,4,1.797240e+03,2,3,4,234
3,12349.0,2011-11-21 09:51:00,18,1,1.757550e+03,3,1,4,314
4,12350.0,2011-02-02 16:01:00,310,1,3.344000e+02,1,1,2,112
5,12352.0,2011-11-03 14:37:00,36,11,1.545410e+03,3,4,3,343
6,12353.0,2011-05-19 17:47:00,204,1,8.900000e+01,1,1,1,111
7,12354.0,2011-04-21 13:11:00,232,1,1.079400e+03,1,1,3,113
8,12355.0,2011-05-09 13:49:00,214,1,4.594000e+02,1,1,2,112
9,12356.0,2011-11-17 08:40:00,22,3,2.811430e+03,3,2,4,324
10,12357.0,2011-11-06 16:07:00,33,1,6.207670e+03,3,1,4,314
11,12358.0,2011-12-08 10:26:00,1,2,1.168060e+03,4,2,3,423
12,12359.0,2011-12-02 11:21:00,7,6,6.245530e+03,4,4,4,444
13,12360.0,2011-10-18 15:22:00,52,3,2.662060e+03,2,2,4,224
14,12361.0,2011-02-25 13:51:00,287,1,1.899000e+02,1,1,1,111
15,12362.0,2011-12-06 15:40:00,3,13,5.154580e+03,4,4,4,444
16,12363.0,2011-08-22 10:18:00,109,2,5.520000e+02,2,2,2,222
17,12364.0,2011-12-02 10:22:00,7,4,1.313100e+03,4,3,3,433
18,12365.0,2011-02-21 14:04:00,291,3,3.206900e+02,1,2,2,122
19,12367.0,2011-12-05 16:48:00,4,1,1.689000e+02,4,1,1,411
20,12370.0,2011-10-19 14:51:00,51,4,3.545690e+03,2,3,4,234
21,12371.0,2011-10-26 10:16:00,44,2,1.887960e+03,3,2,4,324
22,12372.0,2011-09-29 12:12:00,71,3,1.298040e+03,2,2,3,223
23,12373.0,2011-02-01 13:10:00,311,1,3.646000e+02,1,1,2,112
24,12374.0,2011-11-14 15:37:00,25,1,7.429300e+02,3,1,3,313
25,12375.0,2011-12-07 11:27:00,2,3,4.554200e+02,4,2,2,422
26,12377.0,2011-01-28 15:45:00,315,2,1.628120e+03,1,2,4,124
27,12378.0,2011-08-02 10:34:00,129,1,4.008620e+03,2,1,4,214
28,12379.0,2011-09-19 10:09:00,81,3,8.502900e+02,2,2,3,223
29,12380.0,2011-11-18 11:27:00,21,5,2.720560e+03,3,3,4,334
...,...,...,...,...,...,...,...,...,...
4342,18245.0,2011-12-02 14:48:00,7,8,2.507560e+03,4,4,4,444
4343,18246.0,2011-11-16 11:49:00,23,2,5.961000e+02,3,2,2,322
4344,18248.0,2011-08-18 06:14:00,113,4,7.830200e+02,2,3,3,233
4345,18249.0,2011-11-22 15:07:00,17,1,9.534000e+01,3,1,1,311
4346,18250.0,2011-02-11 13:59:00,301,2,3.429200e+02,1,2,2,122
4347,18251.0,2011-09-13 15:03:00,87,1,4.314720e+03,2,1,4,214
4348,18252.0,2011-10-20 12:43:00,50,2,5.266700e+02,3,2,2,322
4349,18255.0,2011-09-11 13:16:00,89,1,1.033000e+02,2,1,1,211
4350,18256.0,2010-12-20 08:27:00,354,1,-5.010000e+01,1,1,1,111
4351,18257.0,2011-10-31 14:48:00,39,12,2.265380e+03,3,4,4,344
4352,18259.0,2011-11-15 12:34:00,24,3,2.338600e+03,3,2,4,324
4353,18260.0,2011-06-20 12:37:00,172,8,2.595000e+03,1,4,4,144
4354,18261.0,2011-10-27 15:36:00,43,2,3.242400e+02,3,2,2,322
4355,18262.0,2011-07-22 16:04:00,140,1,1.494800e+02,2,1,1,211
4356,18263.0,2011-11-16 16:19:00,23,4,1.211080e+03,3,3,3,333
4357,18265.0,2011-09-28 14:10:00,72,2,8.015100e+02,2,2,3,223
4358,18268.0,2011-07-28 19:13:00,134,2,0.000000e+00,2,2,1,221
4359,18269.0,2010-12-16 15:39:00,358,2,1.389000e+02,1,2,1,121
4360,18270.0,2011-11-01 13:57:00,38,3,2.389500e+02,3,2,1,321
4361,18272.0,2011-12-07 12:43:00,2,7,3.064780e+03,4,4,4,444
4362,18273.0,2011-12-07 13:16:00,2,3,2.040000e+02,4,2,1,421
4363,18274.0,2011-11-22 10:18:00,17,2,1.243450e-14,3,2,1,321
4364,18276.0,2011-11-18 17:01:00,21,3,3.233600e+02,3,2,2,322
4365,18277.0,2011-10-12 15:22:00,58,2,9.763000e+01,2,2,1,221
4366,18278.0,2011-09-27 11:58:00,73,1,1.739000e+02,2,1,1,211
4367,18280.0,2011-03-07 09:52:00,277,1,1.806000e+02,1,1,1,111
4368,18281.0,2011-06-12 10:53:00,180,1,8.082000e+01,1,1,1,111
4369,18282.0,2011-12-02 11:43:00,7,3,1.766000e+02,4,2,1,421
4370,18283.0,2011-12-06 12:02:00,3,16,2.094880e+03,4,4,4,444
4371,18287.0,2011-10-28 09:29:00,42,3,1.837280e+03,3,2,4,324

In [124]:
rfm.sort_values('RFM_Score',ascending = False)

,CustomerID,InvoiceDate,recency,Frequency,Monetary,R_Quartile,F_Quartile,M_Quartile,RFM_Score
822,13435.0,2011-12-04 14:59:00,5,9,3794.49,4,4,4,444
3537,17139.0,2011-11-24 10:12:00,15,15,10585.57,4,4,4,444
556,13069.0,2011-12-09 08:39:00,0,27,3717.82,4,4,4,444
3449,17017.0,2011-12-07 09:32:00,2,27,8574.11,4,4,4,444
1367,14189.0,2011-12-07 15:55:00,2,24,4604.31,4,4,4,444
561,13078.0,2011-12-08 18:48:00,1,43,12432.28,4,4,4,444
564,13081.0,2011-12-08 13:13:00,1,21,27964.48,4,4,4,444
1366,14188.0,2011-12-01 09:46:00,8,10,2018.91,4,4,4,444
568,13089.0,2011-12-07 09:02:00,2,118,57385.88,4,4,4,444
569,13090.0,2011-12-01 12:39:00,8,18,8689.39,4,4,4,444
3440,17001.0,2011-12-09 09:38:00,0,11,3989.57,4,4,4,444
1363,14180.0,2011-11-29 10:56:00,10,31,4640.77,4,4,4,444
1361,14178.0,2011-12-01 12:01:00,8,7,1620.93,4,4,4,444
576,13098.0,2011-12-08 14:14:00,1,41,28658.88,4,4,4,444
579,13102.0,2011-12-08 12:52:00,1,27,6336.29,4,4,4,444
3430,16987.0,2011-12-06 17:26:00,3,7,1625.05,4,4,4,444
2066,15144.0,2011-12-01 15:12:00,8,18,6530.04,4,4,4,444
587,13113.0,2011-12-09 12:49:00,0,40,10510.00,4,4,4,444
588,13115.0,2011-12-01 09:39:00,8,14,2205.63,4,4,4,444
1368,14191.0,2011-12-08 09:23:00,1,14,4660.01,4,4,4,444
3474,17049.0,2011-12-07 10:48:00,2,11,5594.78,4,4,4,444
1370,14194.0,2011-12-05 10:38:00,4,32,11216.75,4,4,4,444
522,13021.0,2011-12-05 16:37:00,4,12,2584.40,4,4,4,444
3533,17133.0,2011-11-24 12:27:00,15,7,4892.24,4,4,4,444
510,13004.0,2011-11-28 11:27:00,11,22,5613.43,4,4,4,444
2013,15078.0,2011-12-02 15:41:00,7,38,9623.35,4,4,4,444
516,13013.0,2011-12-08 15:01:00,1,15,4786.99,4,4,4,444
517,13014.0,2011-12-07 09:24:00,2,16,3365.43,4,4,4,444
1388,14217.0,2011-12-08 11:53:00,1,24,1925.36,4,4,4,444
521,13018.0,2011-11-23 13:28:00,16,29,7272.75,4,4,4,444
...,...,...,...,...,...,...,...,...,...
2755,16078.0,2011-03-01 09:47:00,283,1,79.20,1,1,1,111
437,12902.0,2011-03-20 12:06:00,264,1,138.68,1,1,1,111
985,13663.0,2011-06-13 15:44:00,179,1,189.47,1,1,1,111
324,12738.0,2010-12-02 18:27:00,372,1,155.35,1,1,1,111
406,12855.0,2010-12-02 09:37:00,372,1,38.10,1,1,1,111
4069,17877.0,2011-06-22 13:00:00,170,1,237.61,1,1,1,111
1742,14699.0,2011-05-09 14:54:00,214,1,109.13,1,1,1,111
1010,13703.0,2011-01-25 13:10:00,318,1,99.50,1,1,1,111
4090,17899.0,2011-07-03 14:58:00,159,1,155.80,1,1,1,111
1406,14238.0,2011-01-17 14:40:00,326,1,146.85,1,1,1,111
3623,17263.0,2011-05-15 14:32:00,208,1,63.44,1,1,1,111
2701,16006.0,2011-05-12 13:12:00,211,1,101.40,1,1,1,111
1000,13686.0,2011-06-10 09:10:00,182,1,72.00,1,1,1,111
3062,16483.0,2011-05-31 13:08:00,192,1,139.35,1,1,1,111
4084,17893.0,2011-04-28 13:50:00,225,1,112.25,1,1,1,111
1960,15016.0,2011-06-20 12:06:00,172,1,170.04,1,1,1,111
4082,17891.0,2011-06-30 20:08:00,162,1,203.86,1,1,1,111
3837,17556.0,2011-05-18 10:48:00,205,1,157.90,1,1,1,111
2046,15119.0,2011-04-08 09:08:00,245,1,266.40,1,1,1,111
997,13682.0,2011-06-05 14:06:00,187,1,59.50,1,1,1,111
2152,15256.0,2011-07-14 11:47:00,148,1,98.45,1,1,1,111
994,13678.0,2011-07-11 10:14:00,151,1,232.60,1,1,1,111
1748,14705.0,2011-05-25 12:39:00,198,1,179.00,1,1,1,111
3053,16471.0,2011-03-10 09:41:00,274,1,223.95,1,1,1,111
1826,14816.0,2011-05-26 13:16:00,197,1,271.85,1,1,1,111
4073,17881.0,2011-02-08 17:16:00,304,1,133.35,1,1,1,111
1365,14185.0,2011-01-12 13:52:00,331,1,197.65,1,1,1,111
4071,17879.0,2011-06-19 12:36:00,173,1,178.52,1,1,1,111
1963,15019.0,2011-03-18 12:35:00,266,1,266.00,1,1,1,111
4143,17972.0,2011-04-12 12:16:00,241,1,136.04,1,1,1,111

In [125]:
rfm = rfm[rfm['Monetary'] > 0]

In [127]:
rfm = rfm.merge(cs.drop_duplicates(['CustomerID','Country'])[['CustomerID','Country']])
rfm
#.to_csv(R"C:\Users\clustrex-1\Desktop\rfm.csv",index = False)

,CustomerID,InvoiceDate,recency,Frequency,Monetary,R_Quartile,F_Quartile,M_Quartile,RFM_Score,Country
0,12347.0,2011-12-07 15:52:00,2,7,4.310000e+03,4,4,4,444,Iceland
1,12348.0,2011-09-25 13:13:00,75,4,1.797240e+03,2,3,4,234,Finland
2,12349.0,2011-11-21 09:51:00,18,1,1.757550e+03,3,1,4,314,Italy
3,12350.0,2011-02-02 16:01:00,310,1,3.344000e+02,1,1,2,112,Norway
4,12352.0,2011-11-03 14:37:00,36,11,1.545410e+03,3,4,3,343,Norway
5,12353.0,2011-05-19 17:47:00,204,1,8.900000e+01,1,1,1,111,Bahrain
6,12354.0,2011-04-21 13:11:00,232,1,1.079400e+03,1,1,3,113,Spain
7,12355.0,2011-05-09 13:49:00,214,1,4.594000e+02,1,1,2,112,Bahrain
8,12356.0,2011-11-17 08:40:00,22,3,2.811430e+03,3,2,4,324,Portugal
9,12357.0,2011-11-06 16:07:00,33,1,6.207670e+03,3,1,4,314,Switzerland
10,12358.0,2011-12-08 10:26:00,1,2,1.168060e+03,4,2,3,423,Austria
11,12359.0,2011-12-02 11:21:00,7,6,6.245530e+03,4,4,4,444,Cyprus
12,12360.0,2011-10-18 15:22:00,52,3,2.662060e+03,2,2,4,224,Austria
13,12361.0,2011-02-25 13:51:00,287,1,1.899000e+02,1,1,1,111,Belgium
14,12362.0,2011-12-06 15:40:00,3,13,5.154580e+03,4,4,4,444,Belgium
15,12363.0,2011-08-22 10:18:00,109,2,5.520000e+02,2,2,2,222,Unspecified
16,12364.0,2011-12-02 10:22:00,7,4,1.313100e+03,4,3,3,433,Belgium
17,12365.0,2011-02-21 14:04:00,291,3,3.206900e+02,1,2,2,122,Cyprus
18,12367.0,2011-12-05 16:48:00,4,1,1.689000e+02,4,1,1,411,Denmark
19,12370.0,2011-10-19 14:51:00,51,4,3.545690e+03,2,3,4,234,Cyprus
20,12370.0,2011-10-19 14:51:00,51,4,3.545690e+03,2,3,4,234,Austria
21,12371.0,2011-10-26 10:16:00,44,2,1.887960e+03,3,2,4,324,Switzerland
22,12372.0,2011-09-29 12:12:00,71,3,1.298040e+03,2,2,3,223,Denmark
23,12373.0,2011-02-01 13:10:00,311,1,3.646000e+02,1,1,2,112,Austria
24,12374.0,2011-11-14 15:37:00,25,1,7.429300e+02,3,1,3,313,Austria
25,12375.0,2011-12-07 11:27:00,2,3,4.554200e+02,4,2,2,422,Finland
26,12377.0,2011-01-28 15:45:00,315,2,1.628120e+03,1,2,4,124,Switzerland
27,12378.0,2011-08-02 10:34:00,129,1,4.008620e+03,2,1,4,214,Switzerland
28,12379.0,2011-09-19 10:09:00,81,3,8.502900e+02,2,2,3,223,Belgium
29,12380.0,2011-11-18 11:27:00,21,5,2.720560e+03,3,3,4,334,Belgium
...,...,...,...,...,...,...,...,...,...,...
4300,18241.0,2011-11-30 12:10:00,9,18,2.058090e+03,4,4,4,444,United Kingdom
4301,18242.0,2011-09-28 13:43:00,72,4,2.232490e+03,2,3,4,234,United Kingdom
4302,18245.0,2011-12-02 14:48:00,7,8,2.507560e+03,4,4,4,444,United Kingdom
4303,18246.0,2011-11-16 11:49:00,23,2,5.961000e+02,3,2,2,322,United Kingdom
4304,18248.0,2011-08-18 06:14:00,113,4,7.830200e+02,2,3,3,233,United Kingdom
4305,18249.0,2011-11-22 15:07:00,17,1,9.534000e+01,3,1,1,311,United Kingdom
4306,18250.0,2011-02-11 13:59:00,301,2,3.429200e+02,1,2,2,122,United Kingdom
4307,18251.0,2011-09-13 15:03:00,87,1,4.314720e+03,2,1,4,214,United Kingdom
4308,18252.0,2011-10-20 12:43:00,50,2,5.266700e+02,3,2,2,322,United Kingdom
4309,18255.0,2011-09-11 13:16:00,89,1,1.033000e+02,2,1,1,211,United Kingdom
4310,18257.0,2011-10-31 14:48:00,39,12,2.265380e+03,3,4,4,344,United Kingdom
4311,18259.0,2011-11-15 12:34:00,24,3,2.338600e+03,3,2,4,324,United Kingdom
4312,18260.0,2011-06-20 12:37:00,172,8,2.595000e+03,1,4,4,144,United Kingdom
4313,18261.0,2011-10-27 15:36:00,43,2,3.242400e+02,3,2,2,322,United Kingdom
4314,18262.0,2011-07-22 16:04:00,140,1,1.494800e+02,2,1,1,211,United Kingdom
4315,18263.0,2011-11-16 16:19:00,23,4,1.211080e+03,3,3,3,333,United Kingdom
4316,18265.0,2011-09-28 14:10:00,72,2,8.015100e+02,2,2,3,223,United Kingdom
4317,18269.0,2010-12-16 15:39:00,358,2,1.389000e+02,1,2,1,121,United Kingdom
4318,18270.0,2011-11-01 13:57:00,38,3,2.389500e+02,3,2,1,321,United Kingdom
4319,18272.0,2011-12-07 12:43:00,2,7,3.064780e+03,4,4,4,444,United Kingdom
4320,18273.0,2011-12-07 13:16:00,2,3,2.040000e+02,4,2,1,421,United Kingdom
4321,18274.0,2011-11-22 10:18:00,17,2,1.243450e-14,3,2,1,321,United Kingdom
4322,18276.0,2011-11-18 17:01:00,21,3,3.233600e+02,3,2,2,322,United Kingdom
4323,18277.0,2011-10-12 15:22:00,58,2,9.763000e+01,2,2,1,221,United Kingdom
4324,18278.0,2011-09-27 11:58:00,73,1,1.739000e+02,2,1,1,211,United Kingdom
4325,18280.0,2011-03-07 09:52:00,277,1,1.806000e+02,1,1,1,111,United Kingdom
4326,18281.0,2011-06-12 10:53:00,180,1,8.082000e+01,1,1,1,111,United Kingdom
4327,18282.0,2011-12-02 11:43:00,7,3,1.766000e+02,4,2,1,421,United Kingdom
4328,18283.0,2011-12-06 12:02:00,3,16,2.094880e+03,4,4,4,444,United Kingdom
4329,18287.0,2011-10-28 09:29:00,42,3,1.837280e+03,3,2,4,324,United Kingdom

In [133]:
import re

In [142]:
def customersec(x):
    if (x['RFM_Score'] == '444'):
        return 'Best Customer'
    elif (x['RFM_Score'] == '111'):
        return 'Lost Cheap Customer'
    elif (x['RFM_Score'] == '244'):
        return 'Almost Lost'
    elif (x['RFM_Score'] == '144'):
        return 'Lost Customer'
    elif (re.findall(r'\d4\d',x.RFM_Score)):
        return 'Loyal Customer'
    elif (re.findall(r'\d\d4',x.RFM_Score)):
        return 'Big Spenders'
    else:
        return "Can't Seg"

In [141]:
re.findall('\d\d4','114')

['114']

In [130]:
rfm.loc[rfmc['RFM_Score'].str.contains(r'\d4\d')]

,CustomerID,InvoiceDate,recency,Frequency,Monetary,R_Quartile,F_Quartile,M_Quartile,FM_Quartile,RFM_Score,Country,Segmentation
0,12347.0,2011-12-07 15:52:00,2,7,4310.00,5,4,5,4.5,545,Iceland,Champion
11,12359.0,2011-12-02 11:21:00,7,6,6245.53,5,4,5,4.5,545,Cyprus,Champion
29,12380.0,2011-11-18 11:27:00,21,5,2720.56,4,4,5,4.5,445,Belgium,Champion
30,12381.0,2011-12-05 12:44:00,4,6,1803.96,5,4,4,4.0,544,Norway,Champion
31,12383.0,2011-06-08 08:02:00,184,6,1839.31,1,4,4,4.0,144,Belgium,At Risk
34,12388.0,2011-11-24 12:30:00,15,6,2780.66,4,4,5,4.5,445,Australia,Champion
49,12407.0,2011-10-21 10:11:00,49,5,1708.12,3,4,4,4.0,344,Belgium,Loyal Customers
51,12409.0,2011-09-22 10:38:00,78,7,11056.93,2,4,5,4.5,245,Switzerland,Loyal Customers
54,12413.0,2011-10-04 09:00:00,66,5,694.15,3,4,3,3.5,343,France,Loyal Customers
61,12421.0,2011-11-24 09:07:00,15,5,806.27,4,4,3,3.5,443,Spain,Loyal Customers
68,12427.0,2011-11-28 10:48:00,11,5,708.37,5,4,3,3.5,543,Germany,Can't Seg
75,12432.0,2011-10-28 11:43:00,42,5,5059.32,3,4,5,4.5,345,Norway,Loyal Customers
76,12433.0,2011-12-09 10:02:00,0,7,13375.87,5,4,5,4.5,545,Norway,Champion
84,12444.0,2011-11-18 13:23:00,21,5,5005.46,4,4,5,4.5,445,Norway,Champion
91,12451.0,2011-11-29 08:40:00,10,6,8933.52,5,4,5,4.5,545,Switzerland,Champion
94,12455.0,2011-09-27 15:31:00,73,6,2466.86,2,4,5,4.5,245,Cyprus,Loyal Customers
95,12455.0,2011-09-27 15:31:00,73,6,2466.86,2,4,5,4.5,245,Spain,Loyal Customers
102,12463.0,2011-10-24 13:43:00,46,7,1303.63,3,4,4,4.0,344,Belgium,Loyal Customers
130,12502.0,2011-09-05 11:52:00,95,5,3723.87,2,4,5,4.5,245,Spain,Loyal Customers
142,12517.0,2011-11-11 14:04:00,28,6,2464.89,4,4,5,4.5,445,Germany,Champion
143,12518.0,2011-12-09 10:13:00,0,5,2056.89,5,4,5,4.5,545,Germany,Champion
145,12520.0,2011-09-21 15:23:00,79,6,2582.51,2,4,5,4.5,245,Germany,Loyal Customers
153,12530.0,2011-10-11 12:34:00,59,5,1623.63,3,4,4,4.0,344,Germany,Loyal Customers
158,12536.0,2011-12-02 12:43:00,7,5,4106.82,5,4,5,4.5,545,France,Champion
160,12539.0,2011-11-17 13:30:00,22,5,3852.50,4,4,5,4.5,445,Spain,Champion
173,12557.0,2011-11-23 16:59:00,16,5,11990.96,4,4,5,4.5,445,Spain,Champion
178,12562.0,2011-12-01 17:20:00,8,7,3781.74,5,4,5,4.5,545,France,Champion
188,12576.0,2011-11-04 10:11:00,35,6,1306.98,3,4,4,4.0,344,Poland,Loyal Customers
208,12597.0,2011-11-20 13:33:00,19,5,3683.13,4,4,5,4.5,445,Spain,Champion
210,12599.0,2011-11-10 13:34:00,29,7,1032.58,4,4,4,4.0,444,France,Champion
...,...,...,...,...,...,...,...,...,...,...,...,...
4079,17937.0,2011-12-01 11:45:00,8,7,4301.22,5,4,5,4.5,545,United Kingdom,Champion
4100,17966.0,2011-11-02 10:26:00,37,5,1098.43,3,4,4,4.0,344,United Kingdom,Loyal Customers
4112,17979.0,2011-11-04 12:05:00,35,5,737.81,3,4,3,3.5,343,United Kingdom,Loyal Customers
4121,17994.0,2011-08-10 11:43:00,121,6,629.69,2,4,3,3.5,243,United Kingdom,Loyal Customers
4136,18016.0,2011-11-07 13:25:00,32,5,1483.56,3,4,4,4.0,344,United Kingdom,Loyal Customers
4149,18037.0,2011-07-08 13:39:00,154,6,70.02,2,4,1,2.5,241,United Kingdom,Customers Needing Attention
4170,18069.0,2011-11-13 16:05:00,26,7,2021.82,4,4,5,4.5,445,United Kingdom,Champion
4187,18093.0,2011-09-07 15:43:00,93,5,2083.42,2,4,5,4.5,245,United Kingdom,Loyal Customers
4188,18094.0,2011-09-19 09:28:00,81,7,3017.30,2,4,5,4.5,245,United Kingdom,Loyal Customers
4191,18097.0,2011-12-02 11:16:00,7,7,2692.85,5,4,5,4.5,545,United Kingdom,Champion
4210,18122.0,2011-12-01 13:08:00,8,6,1826.21,5,4,4,4.0,544,United Kingdom,Champion
4212,18125.0,2011-11-10 12:29:00,29,5,1141.34,4,4,4,4.0,444,United Kingdom,Champion
4218,18135.0,2011-11-10 19:32:00,29,5,681.91,4,4,3,3.5,443,United Kingdom,Loyal Customers
4237,18161.0,2011-11-29 15:38:00,10,6,1612.79,5,4,4,4.0,544,United Kingdom,Champion
4240,18167.0,2011-12-06 09:49:00,3,6,1355.51,5,4,4,4.0,544,United Kingdom,Champion
4244,18171.0,2011-10-12 09:13:00,58,7,1208.51,3,4,4,4.0,344,United Kingdom,Loyal Customers
4249,18177.0,2011-11-08 14:44:00,31,7,1314.17,4,4,4,4.0,444,United Kingdom,Champion
4250,18178.0,2011-08-18 06:34:00,113,6,1573.41,2,4,4,4.0,244,United Kingdom,Loyal Customers
4251,18179.0,2011-11-30 16:23:00,9,6,1793.17,5,4,4,4.0,544,United Kingdom,Champion
4252,18180.0,2011-12-05 08:39:00,4,6,1843.75,5,4,4,4.0,544,United Kingdom,Champion
4254,18183.0,2011-05-05 17:47:00,218,6,600.52,1,4,3,3.5,143,United Kingdom,At Risk
4272,18210.0,2011-12-08 11:02:00,1,6,2621.38,5,4,5,4.5,545,United Kingdom,Champion
4273,18211.0,2011-11-14 08:10:00,25,5,600.07,4,4,3,3.5,443,United Kingdom,Loyal Customers
4282,18221.0,2011-11-17 14:40:00,22,6,1033.31,4,4,4,4.0,444,United Kingdom,Champion
4292,18231.0,2011-05-31 14:18:00,192,6,2066.17,1,4,5,4.5,145,United Kingdom,At Risk
4293,18232.0,2011-09-19 11:49:00,81,5,582.47,2,4,3,3.5,243,United Kingdom,Loyal Customers
4296,18236.0,2011-11-10 08:06:00,29,6,882.24,4,4,3,3.5,443,United Kingdom,Loyal Customers
4297,18237.0,2011-12-07 12:49:00,2,5,987.10,5,4,4,4.0,544,United Kingdom,Champion
4298,18239.0,2011-05-05 12:38:00,218,5,1561.61,1,4,4,4.0,144,United Kingdom,At Risk
4319,18272.0,2011-12-07 12:43:00,2,7,3064.78,5,4,5,4.5,545,United Kingdom,Champion

In [76]:
import numpy as np

In [74]:
np.arange(4,5.5,0.5)

array([4. , 4.5, 5. ])

In [54]:
rfmc = rfm.copy()

In [143]:
rfm['Segmentation'] =  rfm.apply(customersec,axis =1)

In [144]:
rfm

,CustomerID,InvoiceDate,recency,Frequency,Monetary,R_Quartile,F_Quartile,M_Quartile,RFM_Score,Country,Segmentation
0,12347.0,2011-12-07 15:52:00,2,7,4.310000e+03,4,4,4,444,Iceland,Best Customer
1,12348.0,2011-09-25 13:13:00,75,4,1.797240e+03,2,3,4,234,Finland,Big Spenders
2,12349.0,2011-11-21 09:51:00,18,1,1.757550e+03,3,1,4,314,Italy,Big Spenders
3,12350.0,2011-02-02 16:01:00,310,1,3.344000e+02,1,1,2,112,Norway,Can't Seg
4,12352.0,2011-11-03 14:37:00,36,11,1.545410e+03,3,4,3,343,Norway,Loyal Customer
5,12353.0,2011-05-19 17:47:00,204,1,8.900000e+01,1,1,1,111,Bahrain,Lost Cheap Customer
6,12354.0,2011-04-21 13:11:00,232,1,1.079400e+03,1,1,3,113,Spain,Can't Seg
7,12355.0,2011-05-09 13:49:00,214,1,4.594000e+02,1,1,2,112,Bahrain,Can't Seg
8,12356.0,2011-11-17 08:40:00,22,3,2.811430e+03,3,2,4,324,Portugal,Big Spenders
9,12357.0,2011-11-06 16:07:00,33,1,6.207670e+03,3,1,4,314,Switzerland,Big Spenders
10,12358.0,2011-12-08 10:26:00,1,2,1.168060e+03,4,2,3,423,Austria,Can't Seg
11,12359.0,2011-12-02 11:21:00,7,6,6.245530e+03,4,4,4,444,Cyprus,Best Customer
12,12360.0,2011-10-18 15:22:00,52,3,2.662060e+03,2,2,4,224,Austria,Big Spenders
13,12361.0,2011-02-25 13:51:00,287,1,1.899000e+02,1,1,1,111,Belgium,Lost Cheap Customer
14,12362.0,2011-12-06 15:40:00,3,13,5.154580e+03,4,4,4,444,Belgium,Best Customer
15,12363.0,2011-08-22 10:18:00,109,2,5.520000e+02,2,2,2,222,Unspecified,Can't Seg
16,12364.0,2011-12-02 10:22:00,7,4,1.313100e+03,4,3,3,433,Belgium,Can't Seg
17,12365.0,2011-02-21 14:04:00,291,3,3.206900e+02,1,2,2,122,Cyprus,Can't Seg
18,12367.0,2011-12-05 16:48:00,4,1,1.689000e+02,4,1,1,411,Denmark,Can't Seg
19,12370.0,2011-10-19 14:51:00,51,4,3.545690e+03,2,3,4,234,Cyprus,Big Spenders
20,12370.0,2011-10-19 14:51:00,51,4,3.545690e+03,2,3,4,234,Austria,Big Spenders
21,12371.0,2011-10-26 10:16:00,44,2,1.887960e+03,3,2,4,324,Switzerland,Big Spenders
22,12372.0,2011-09-29 12:12:00,71,3,1.298040e+03,2,2,3,223,Denmark,Can't Seg
23,12373.0,2011-02-01 13:10:00,311,1,3.646000e+02,1,1,2,112,Austria,Can't Seg
24,12374.0,2011-11-14 15:37:00,25,1,7.429300e+02,3,1,3,313,Austria,Can't Seg
25,12375.0,2011-12-07 11:27:00,2,3,4.554200e+02,4,2,2,422,Finland,Can't Seg
26,12377.0,2011-01-28 15:45:00,315,2,1.628120e+03,1,2,4,124,Switzerland,Big Spenders
27,12378.0,2011-08-02 10:34:00,129,1,4.008620e+03,2,1,4,214,Switzerland,Big Spenders
28,12379.0,2011-09-19 10:09:00,81,3,8.502900e+02,2,2,3,223,Belgium,Can't Seg
29,12380.0,2011-11-18 11:27:00,21,5,2.720560e+03,3,3,4,334,Belgium,Big Spenders
...,...,...,...,...,...,...,...,...,...,...,...
4300,18241.0,2011-11-30 12:10:00,9,18,2.058090e+03,4,4,4,444,United Kingdom,Best Customer
4301,18242.0,2011-09-28 13:43:00,72,4,2.232490e+03,2,3,4,234,United Kingdom,Big Spenders
4302,18245.0,2011-12-02 14:48:00,7,8,2.507560e+03,4,4,4,444,United Kingdom,Best Customer
4303,18246.0,2011-11-16 11:49:00,23,2,5.961000e+02,3,2,2,322,United Kingdom,Can't Seg
4304,18248.0,2011-08-18 06:14:00,113,4,7.830200e+02,2,3,3,233,United Kingdom,Can't Seg
4305,18249.0,2011-11-22 15:07:00,17,1,9.534000e+01,3,1,1,311,United Kingdom,Can't Seg
4306,18250.0,2011-02-11 13:59:00,301,2,3.429200e+02,1,2,2,122,United Kingdom,Can't Seg
4307,18251.0,2011-09-13 15:03:00,87,1,4.314720e+03,2,1,4,214,United Kingdom,Big Spenders
4308,18252.0,2011-10-20 12:43:00,50,2,5.266700e+02,3,2,2,322,United Kingdom,Can't Seg
4309,18255.0,2011-09-11 13:16:00,89,1,1.033000e+02,2,1,1,211,United Kingdom,Can't Seg
4310,18257.0,2011-10-31 14:48:00,39,12,2.265380e+03,3,4,4,344,United Kingdom,Loyal Customer
4311,18259.0,2011-11-15 12:34:00,24,3,2.338600e+03,3,2,4,324,United Kingdom,Big Spenders
4312,18260.0,2011-06-20 12:37:00,172,8,2.595000e+03,1,4,4,144,United Kingdom,Lost Customer
4313,18261.0,2011-10-27 15:36:00,43,2,3.242400e+02,3,2,2,322,United Kingdom,Can't Seg
4314,18262.0,2011-07-22 16:04:00,140,1,1.494800e+02,2,1,1,211,United Kingdom,Can't Seg
4315,18263.0,2011-11-16 16:19:00,23,4,1.211080e+03,3,3,3,333,United Kingdom,Can't Seg
4316,18265.0,2011-09-28 14:10:00,72,2,8.015100e+02,2,2,3,223,United Kingdom,Can't Seg
4317,18269.0,2010-12-16 15:39:00,358,2,1.389000e+02,1,2,1,121,United Kingdom,Can't Seg
4318,18270.0,2011-11-01 13:57:00,38,3,2.389500e+02,3,2,1,321,United Kingdom,Can't Seg
4319,18272.0,2011-12-07 12:43:00,2,7,3.064780e+03,4,4,4,444,United Kingdom,Best Customer
4320,18273.0,2011-12-07 13:16:00,2,3,2.040000e+02,4,2,1,421,United Kingdom,Can't Seg
4321,18274.0,2011-11-22 10:18:00,17,2,1.243450e-14,3,2,1,321,United Kingdom,Can't Seg
4322,18276.0,2011-11-18 17:01:00,21,3,3.233600e+02,3,2,2,322,United Kingdom,Can't Seg
4323,18277.0,2011-10-12 15:22:00,58,2,9.763000e+01,2,2,1,221,United Kingdom,Can't Seg
4324,18278.0,2011-09-27 11:58:00,73,1,1.739000e+02,2,1,1,211,United Kingdom,Can't Seg
4325,18280.0,2011-03-07 09:52:00,277,1,1.806000e+02,1,1,1,111,United Kingdom,Lost Cheap Customer
4326,18281.0,2011-06-12 10:53:00,180,1,8.082000e+01,1,1,1,111,United Kingdom,Lost Cheap Customer
4327,18282.0,2011-12-02 11:43:00,7,3,1.766000e+02,4,2,1,421,United Kingdom,Can't Seg
4328,18283.0,2011-12-06 12:02:00,3,16,2.094880e+03,4,4,4,444,United Kingdom,Best Customer
4329,18287.0,2011-10-28 09:29:00,42,3,1.837280e+03,3,2,4,324,United Kingdom,Big Spenders

In [145]:
rfm.Segmentation.value_counts()

Can't Seg              2581
Loyal Customer          500
Best Customer           485
Lost Cheap Customer     375
Big Spenders            284
Almost Lost              92
Lost Customer            13
Name: Segmentation, dtype: int64

In [83]:
rfmc.to_csv(R"C:\Users\clustrex-1\Desktop\rfm_seg.csv",index = False)

In [84]:
rfmc.Segmentation.value_counts()

Loyal Customers                1142
Champion                        926
Potential Loyalist              919
Hibernating                     505
At Risk                         338
Customers Needing Attention     255
About To Sleep                  245
Name: Segmentation, dtype: int64

In [89]:
rfmc.Segmentation.value_counts()

Loyal Customers                976
Champion                       926
Hibernating                    505
Potential Loyalist             442
Can't Seg                      415
Customers Needing Attention    406
At Risk                        338
About To Sleep                 245
Recent Customers                77
Name: Segmentation, dtype: int64

In [85]:
def customersec(x):
    if ((x['R_Quartile'] in range()) & (x['FM_Quartile'] in np.arange(4,5.5,0.5) )):
        return 'Champion'
    elif ((x['R_Quartile'] in range(2,6)) & (x['FM_Quartile'] in np.arange(3,5.5,0.5) )):
        return 'Loyal Customers'
    elif ((x['R_Quartile'] in range(3,6)) & (x['FM_Quartile'] in np.arange(1,3.5,0.5) )):
        return 'Potential Loyalist'
    elif ((x['R_Quartile'] in range(4,6)) & (x['FM_Quartile'] in np.arange(0,1.5,0.5) )):
        return 'Recent Customers'
    elif ((x['R_Quartile'] in range(3,5)) & (x['FM_Quartile'] in np.arange(0,1.5,0.5) )):
        return 'Promising'
    elif ((x['R_Quartile'] in range(2,6)) & (x['FM_Quartile'] in np.arange(3,5.5,0.5) )):
        return 'Loyal Customers'
    else:
        return "Can't Seg"

In [86]:
rfmc['Segmentation'] =  rfmc.apply(customersec,axis =1)
rfmc.Segmentation.value_counts()

Loyal Customers                1622
Lost                           1002
At Risk                         657
Potential Loyalist              371
About To Sleep                  341
Customers Needing Attention     204
Promising                        77
Recent Customers                 29
Can’t Lose Them                  27
Name: Segmentation, dtype: int64

In [115]:
rfm.loc[(rfm.F_Quartile == 1) &  (rfm.R_Quartile == 1)].shape

(629, 9)

In [36]:
rfm.shape

(4322, 10)

In [38]:
rfm.isnull().sum()

CustomerID     0
InvoiceDate    0
recency        0
Frequency      0
Monetary       0
R_Quartile     0
F_Quartile     0
M_Quartile     0
FM_Quartile    0
RFM_Score      0
dtype: int64

In [3]:
rfm1 = pd.read_csv(R"C:\Users\clustrex-1\Desktop\rfm.csv")
rfm1

,CustomerID,InvoiceDate,recency,Frequency,Monetary,R_Quartile,F_Quartile,M_Quartile,FM_Quartile,RFM_Score,Country
0,12347.0,2011-12-07 15:52:00,2,7,4.310000e+03,5,4,5,4.5,545,Iceland
1,12348.0,2011-09-25 13:13:00,75,4,1.797240e+03,2,3,4,3.5,234,Finland
2,12349.0,2011-11-21 09:51:00,18,1,1.757550e+03,4,1,4,2.5,414,Italy
3,12350.0,2011-02-02 16:01:00,310,1,3.344000e+02,1,1,2,1.5,112,Norway
4,12352.0,2011-11-03 14:37:00,36,11,1.545410e+03,3,5,4,4.5,354,Norway
5,12353.0,2011-05-19 17:47:00,204,1,8.900000e+01,1,1,1,1.0,111,Bahrain
6,12354.0,2011-04-21 13:11:00,232,1,1.079400e+03,1,1,4,2.5,114,Spain
7,12355.0,2011-05-09 13:49:00,214,1,4.594000e+02,1,1,2,1.5,112,Bahrain
8,12356.0,2011-11-17 08:40:00,22,3,2.811430e+03,4,3,5,4.0,435,Portugal
9,12357.0,2011-11-06 16:07:00,33,1,6.207670e+03,3,1,5,3.0,315,Switzerland
10,12358.0,2011-12-08 10:26:00,1,2,1.168060e+03,5,2,4,3.0,524,Austria
11,12359.0,2011-12-02 11:21:00,7,6,6.245530e+03,5,4,5,4.5,545,Cyprus
12,12360.0,2011-10-18 15:22:00,52,3,2.662060e+03,3,3,5,4.0,335,Austria
13,12361.0,2011-02-25 13:51:00,287,1,1.899000e+02,1,1,1,1.0,111,Belgium
14,12362.0,2011-12-06 15:40:00,3,13,5.154580e+03,5,5,5,5.0,555,Belgium
15,12363.0,2011-08-22 10:18:00,109,2,5.520000e+02,2,2,3,2.5,223,Unspecified
16,12364.0,2011-12-02 10:22:00,7,4,1.313100e+03,5,3,4,3.5,534,Belgium
17,12365.0,2011-02-21 14:04:00,291,3,3.206900e+02,1,3,2,2.5,132,Cyprus
18,12367.0,2011-12-05 16:48:00,4,1,1.689000e+02,5,1,1,1.0,511,Denmark
19,12370.0,2011-10-19 14:51:00,51,4,3.545690e+03,3,3,5,4.0,335,Cyprus
20,12370.0,2011-10-19 14:51:00,51,4,3.545690e+03,3,3,5,4.0,335,Austria
21,12371.0,2011-10-26 10:16:00,44,2,1.887960e+03,3,2,4,3.0,324,Switzerland
22,12372.0,2011-09-29 12:12:00,71,3,1.298040e+03,3,3,4,3.5,334,Denmark
23,12373.0,2011-02-01 13:10:00,311,1,3.646000e+02,1,1,2,1.5,112,Austria
24,12374.0,2011-11-14 15:37:00,25,1,7.429300e+02,4,1,3,2.0,413,Austria
25,12375.0,2011-12-07 11:27:00,2,3,4.554200e+02,5,3,2,2.5,532,Finland
26,12377.0,2011-01-28 15:45:00,315,2,1.628120e+03,1,2,4,3.0,124,Switzerland
27,12378.0,2011-08-02 10:34:00,129,1,4.008620e+03,2,1,5,3.0,215,Switzerland
28,12379.0,2011-09-19 10:09:00,81,3,8.502900e+02,2,3,3,3.0,233,Belgium
29,12380.0,2011-11-18 11:27:00,21,5,2.720560e+03,4,4,5,4.5,445,Belgium
...,...,...,...,...,...,...,...,...,...,...,...
4300,18241.0,2011-11-30 12:10:00,9,18,2.058090e+03,5,5,5,5.0,555,United Kingdom
4301,18242.0,2011-09-28 13:43:00,72,4,2.232490e+03,2,3,5,4.0,235,United Kingdom
4302,18245.0,2011-12-02 14:48:00,7,8,2.507560e+03,5,5,5,5.0,555,United Kingdom
4303,18246.0,2011-11-16 11:49:00,23,2,5.961000e+02,4,2,3,2.5,423,United Kingdom
4304,18248.0,2011-08-18 06:14:00,113,4,7.830200e+02,2,3,3,3.0,233,United Kingdom
4305,18249.0,2011-11-22 15:07:00,17,1,9.534000e+01,4,1,1,1.0,411,United Kingdom
4306,18250.0,2011-02-11 13:59:00,301,2,3.429200e+02,1,2,2,2.0,122,United Kingdom
4307,18251.0,2011-09-13 15:03:00,87,1,4.314720e+03,2,1,5,3.0,215,United Kingdom
4308,18252.0,2011-10-20 12:43:00,50,2,5.266700e+02,3,2,3,2.5,323,United Kingdom
4309,18255.0,2011-09-11 13:16:00,89,1,1.033000e+02,2,1,1,1.0,211,United Kingdom
4310,18257.0,2011-10-31 14:48:00,39,12,2.265380e+03,3,5,5,5.0,355,United Kingdom
4311,18259.0,2011-11-15 12:34:00,24,3,2.338600e+03,4,3,5,4.0,435,United Kingdom
4312,18260.0,2011-06-20 12:37:00,172,8,2.595000e+03,2,5,5,5.0,255,United Kingdom
4313,18261.0,2011-10-27 15:36:00,43,2,3.242400e+02,3,2,2,2.0,322,United Kingdom
4314,18262.0,2011-07-22 16:04:00,140,1,1.494800e+02,2,1,1,1.0,211,United Kingdom
4315,18263.0,2011-11-16 16:19:00,23,4,1.211080e+03,4,3,4,3.5,434,United Kingdom
4316,18265.0,2011-09-28 14:10:00,72,2,8.015100e+02,2,2,3,2.5,223,United Kingdom
4317,18269.0,2010-12-16 15:39:00,358,2,1.389000e+02,1,2,1,1.5,121,United Kingdom
4318,18270.0,2011-11-01 13:57:00,38,3,2.389500e+02,3,3,2,2.5,332,United Kingdom
4319,18272.0,2011-12-07 12:43:00,2,7,3.064780e+03,5,4,5,4.5,545,United Kingdom
4320,18273.0,2011-12-07 13:16:00,2,3,2.040000e+02,5,3,1,2.0,531,United Kingdom
4321,18274.0,2011-11-22 10:18:00,17,2,1.243450e-14,4,2,1,1.5,421,United Kingdom
4322,18276.0,2011-11-18 17:01:00,21,3,3.233600e+02,4,3,2,2.5,432,United Kingdom
4323,18277.0,2011-10-12 15:22:00,58,2,9.763000e+01,3,2,1,1.5,321,United Kingdom
4324,18278.0,2011-09-27 11:58:00,73,1,1.739000e+02,2,1,1,1.0,211,United Kingdom
4325,18280.0,2011-03-07 09:52:00,277,1,1.806000e+02,1,1,1,1.0,111,United Kingdom
4326,18281.0,2011-06-12 10:53:00,180,1,8.082000e+01,1,1,1,1.0,111,United Kingdom
4327,18282.0,2011-12-02 11:43:00,7,3,1.766000e+02,5,3,1,2.0,531,United Kingdom
4328,18283.0,2011-12-06 12:02:00,3,16,2.094880e+03,5,5,5,5.0,555,United Kingdom
4329,18287.0,2011-10-28 09:29:00,42,3,1.837280e+03,3,3,4,3.5,334,United Kingdom

In [7]:
rfm1[(rfm1.R_Quartile.isin([1]) & (rfm1.FM_Quartile >= 4))].shape

(27, 11)

In [30]:
rfm1.dtypes

CustomerID     float64
InvoiceDate     object
recency          int64
Frequency        int64
Monetary       float64
R_Quartile       int64
F_Quartile       int64
M_Quartile       int64
FM_Quartile    float64
RFM_Score        int64
Country         object
dtype: object

In [44]:
rfm1[(rfm1.R_Quartile >= 3) & (rfm1.FM_Quartile.isin([1.0,1.5,2.0,2.5,3.0]))].shape

(1202, 11)

In [45]:
rfm1.isnull().sum()

CustomerID     0
InvoiceDate    0
recency        0
Frequency      0
Monetary       0
R_Quartile     0
F_Quartile     0
M_Quartile     0
FM_Quartile    0
RFM_Score      0
Country        0
dtype: int64

In [49]:
rfm1.shape

(4330, 11)

In [47]:
rfm1[rfm1.CustomerID == 12394]

,CustomerID,InvoiceDate,recency,Frequency,Monetary,R_Quartile,F_Quartile,M_Quartile,FM_Quartile,RFM_Score,Country
38,12394.0,2011-10-07 08:08:00,63,2,1272.48,3,2,4,3.0,324,Belgium
39,12394.0,2011-10-07 08:08:00,63,2,1272.48,3,2,4,3.0,324,Denmark

In [51]:
rfm1.drop_duplicates(['CustomerID']).shape

(4322, 11)